In [1]:
import os
import math
import itertools
import numpy as np
import pandas as pd

In [2]:
def check_epochs(df, n, batch_size=128, steps=6000):
    num_batches = math.floor(n/batch_size)
    epochs = int(steps/num_batches)
    if df.shape[0] == epochs:
        return True
    else:
        return False

In [3]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-zero'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for alpha, lr_0, n, random_state in itertools.product(alphas, lr_0s, ns, random_states):
    model_name = f'linear_probing_alpha={alpha}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        tuned_n = n - int((1/5) * n)
        if not check_epochs(temp_df, tuned_n, batch_size=min(128, tuned_n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
print(count)

-1

In [4]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-zero'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for alpha, lr_0, n, random_state in itertools.product(alphas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        tuned_n = n - int((1/5) * n)
        if not check_epochs(temp_df, tuned_n, batch_size=min(128, tuned_n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
print(count)

-1

In [5]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        tuned_n = n - int((1/5) * n)
        if not check_epochs(temp_df, tuned_n, batch_size=min(128, tuned_n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
print(count)

-1

In [6]:
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'ptyl'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10_SSL'
lambds = np.logspace(start=0, stop=9, num=10)
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
prior_directory = '/cluster/tufts/hugheslab/eharve06/resnet50_ssl_prior'
prior_type = 'resnet50_ssl_prior'
random_states = [1001, 2001, 3001]

count = -1
for beta, lambd, lr_0, n, random_state in itertools.product(betas, lambds, lr_0s, ns, random_states):
    model_name = f'{criterion}_beta={beta}_lambd={lambd}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        tuned_n = n - int((1/5) * n)
        if not check_epochs(temp_df, tuned_n, batch_size=min(128, tuned_n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lambd={lambd} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --tune"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lambd={lambd} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --tune"')
print(count)

-1

In [7]:
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'ptyl'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lambds = np.logspace(start=0, stop=9, num=10)
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for beta, lambd, lr_0, n, random_state in itertools.product(betas, lambds, lr_0s, ns, random_states):
    model_name = f'{criterion}_beta={beta}_lambd={lambd}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        tuned_n = n - int((1/5) * n)
        if not check_epochs(temp_df, tuned_n, batch_size=min(128, tuned_n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lambd={lambd} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lambd={lambd} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
print(count)

-1

In [8]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10_ViT_B_16'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ViT-B/16'
ns = [100, 1000, 10000, 50000]
prior_directory = '/cluster/tufts/hugheslab/eharve06/vit_b_16_torchvision'
prior_type = 'vit_b_16_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        tuned_n = n - int((1/5) * n)
        if not check_epochs(temp_df, tuned_n, batch_size=min(128, tuned_n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --tune"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --tune"')
print(count)

-1

In [9]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10_ConvNeXt_Tiny'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ConvNeXt_Tiny'
ns = [100, 1000, 10000, 50000]
prior_directory = '/cluster/tufts/hugheslab/eharve06/convnext_tiny_torchvision'
prior_type = 'convnext_tiny_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        tuned_n = n - int((1/5) * n)
        if not check_epochs(temp_df, tuned_n, batch_size=min(128, tuned_n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --tune"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --tune"')
print(count)

-1

In [10]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'linear_probing'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'val_acc', 'val_nll']
tuned_df = pd.DataFrame(columns=columns)

for alpha, lr_0, n, random_state in itertools.product(alphas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        tuned_df.loc[len(tuned_df)] = row
    
min_indices = tuned_df.groupby(['criterion', 'n', 'random_state'])['val_nll'].idxmin()
tuned_df = tuned_df.loc[min_indices]

experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10'

columns = ['criterion', 'model_name', 'n', 'random_state', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for index, row in tuned_df.iterrows():
    if os.path.exists(f'{experiments_directory}/{row.model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{row.model_name}.csv')
        row = [row.criterion, row.model_name, row.n, row.random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row

retrained_df

,criterion,model_name,n,random_state,test_acc,test_nll
0,linear_probing,linear_probing_alpha=1e-06_lr_0=0.0001_n=100_r...,100,1001,0.6123,1.196466
1,linear_probing,linear_probing_alpha=0.01_lr_0=0.0001_n=100_ra...,100,2001,0.5927,1.246481
2,linear_probing,linear_probing_alpha=0.01_lr_0=0.001_n=100_ran...,100,3001,0.5994,1.204519
3,linear_probing,linear_probing_alpha=0.01_lr_0=0.001_n=1000_ra...,1000,1001,0.7476,0.747005
4,linear_probing,linear_probing_alpha=0.01_lr_0=0.001_n=1000_ra...,1000,2001,0.7465,0.746704
5,linear_probing,linear_probing_alpha=0.01_lr_0=0.1_n=1000_rand...,1000,3001,0.7418,0.762468
6,linear_probing,linear_probing_alpha=0.001_lr_0=0.1_n=10000_ra...,10000,1001,0.8143,0.541357
7,linear_probing,linear_probing_alpha=0.001_lr_0=0.1_n=10000_ra...,10000,2001,0.8130,0.548010
8,linear_probing,linear_probing_alpha=0.001_lr_0=0.1_n=10000_ra...,10000,3001,0.8138,0.548427
9,linear_probing,linear_probing_alpha=0.0_lr_0=0.1_n=50000_rand...,50000,1001,0.8321,0.483906
10,linear_probing,linear_probing_alpha=0.0_lr_0=0.1_n=50000_rand...,50000,2001,0.8324,0.483737
11,linear_probing,linear_probing_alpha=0.0_lr_0=0.1_n=50000_rand...,50000,3001,0.8307,0.483427

In [11]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,linear_probing,100,(linear_probing_alpha=1e-06_lr_0=0.0001_n=100_...,"(1001, 2001, 3001)","(0.6123000383377075, 0.5927000045776367, 0.599...","(1.196465976238251, 1.2464814254760743, 1.2045...",0.601467,0.008134,0.5927,0.6123,1.215822,0.021927,1.196466,1.246481
1,linear_probing,1000,(linear_probing_alpha=0.01_lr_0=0.001_n=1000_r...,"(1001, 2001, 3001)","(0.7475999593734741, 0.7465000748634338, 0.741...","(0.7470052386283875, 0.7467042558670044, 0.762...",0.745300,0.002515,0.7418,0.7476,0.752059,0.007361,0.746704,0.762468
2,linear_probing,10000,(linear_probing_alpha=0.001_lr_0=0.1_n=10000_r...,"(1001, 2001, 3001)","(0.814300000667572, 0.812999963760376, 0.81379...","(0.5413574777603148, 0.5480100523948669, 0.548...",0.813700,0.000535,0.8130,0.8143,0.545931,0.003239,0.541357,0.548427
3,linear_probing,50000,(linear_probing_alpha=0.0_lr_0=0.1_n=50000_ran...,"(1001, 2001, 3001)","(0.8321000337600708, 0.8323999643325806, 0.830...","(0.4839056208610534, 0.4837373576164246, 0.483...",0.831733,0.000741,0.8307,0.8324,0.483690,0.000198,0.483427,0.483906

In [12]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

        criterion      n  test_acc_mean  test_acc_min  test_acc_max
0  linear_probing    100       0.601467        0.5927        0.6123
1  linear_probing   1000       0.745300        0.7418        0.7476
2  linear_probing  10000       0.813700        0.8130        0.8143
3  linear_probing  50000       0.831733        0.8307        0.8324

In [13]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

        criterion      n  test_nll_mean  test_nll_min  test_nll_max
0  linear_probing    100       1.215822      1.196466      1.246481
1  linear_probing   1000       0.752059      0.746704      0.762468
2  linear_probing  10000       0.545931      0.541357      0.548427
3  linear_probing  50000       0.483690      0.483427      0.483906

In [14]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-zero'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'val_acc', 'val_nll']
tuned_df = pd.DataFrame(columns=columns)

for alpha, lr_0, n, random_state in itertools.product(alphas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_lr_0={lr_0}_n={n}_random_state={random_state}'
    temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
    row = [criterion, model_name, n, random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
    tuned_df.loc[len(tuned_df)] = row
    
min_indices = tuned_df.groupby(['criterion', 'n', 'random_state'])['val_nll'].idxmin()
tuned_df = tuned_df.loc[min_indices]

experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10'

columns = ['criterion', 'model_name', 'n', 'random_state', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for index, row in tuned_df.iterrows():
    if os.path.exists(f'{experiments_directory}/{row.model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{row.model_name}.csv')
        row = [row.criterion, row.model_name, row.n, row.random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row

retrained_df

,criterion,model_name,n,random_state,test_acc,test_nll
0,l2-zero,l2-zero_alpha=1e-06_lr_0=0.001_n=100_random_st...,100,1001,0.6916,0.937715
1,l2-zero,l2-zero_alpha=0.01_lr_0=0.001_n=100_random_sta...,100,2001,0.6597,1.025161
2,l2-zero,l2-zero_alpha=0.01_lr_0=0.001_n=100_random_sta...,100,3001,0.6799,0.957685
3,l2-zero,l2-zero_alpha=0.001_lr_0=0.001_n=1000_random_s...,1000,1001,0.8820,0.392350
4,l2-zero,l2-zero_alpha=0.0001_lr_0=0.001_n=1000_random_...,1000,2001,0.8756,0.411750
5,l2-zero,l2-zero_alpha=1e-06_lr_0=0.001_n=1000_random_s...,1000,3001,0.8722,0.435222
6,l2-zero,l2-zero_alpha=0.001_lr_0=0.01_n=10000_random_s...,10000,1001,0.9493,0.196428
7,l2-zero,l2-zero_alpha=0.001_lr_0=0.001_n=10000_random_...,10000,2001,0.9382,0.188244
8,l2-zero,l2-zero_alpha=0.001_lr_0=0.01_n=10000_random_s...,10000,3001,0.9509,0.185287
9,l2-zero,l2-zero_alpha=0.01_lr_0=0.01_n=50000_random_st...,50000,1001,0.9709,0.098614
10,l2-zero,l2-zero_alpha=0.01_lr_0=0.01_n=50000_random_st...,50000,2001,0.9688,0.101515
11,l2-zero,l2-zero_alpha=0.01_lr_0=0.01_n=50000_random_st...,50000,3001,0.9702,0.099882

In [15]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-zero,100,(l2-zero_alpha=1e-06_lr_0=0.001_n=100_random_s...,"(1001, 2001, 3001)","(0.69159996509552, 0.6596999168395996, 0.67989...","(0.9377148341178896, 1.0251605440139773, 0.957...",0.677067,0.013176,0.6597,0.6916,0.973520,0.037414,0.937715,1.025161
1,l2-zero,1000,(l2-zero_alpha=0.001_lr_0=0.001_n=1000_random_...,"(1001, 2001, 3001)","(0.8819999694824219, 0.8755999803543091, 0.872...","(0.3923495235443114, 0.4117499649524689, 0.435...",0.876600,0.004063,0.8722,0.8820,0.413107,0.017529,0.392350,0.435222
2,l2-zero,10000,(l2-zero_alpha=0.001_lr_0=0.01_n=10000_random_...,"(1001, 2001, 3001)","(0.9492999911308287, 0.9381999969482422, 0.950...","(0.1964283895254135, 0.188243520116806, 0.1852...",0.946133,0.005648,0.9382,0.9509,0.189986,0.004712,0.185287,0.196428
3,l2-zero,50000,(l2-zero_alpha=0.01_lr_0=0.01_n=50000_random_s...,"(1001, 2001, 3001)","(0.9708999395370485, 0.9688000679016112, 0.970...","(0.0986143164813518, 0.1015145426392555, 0.099...",0.969967,0.000873,0.9688,0.9709,0.100004,0.001187,0.098614,0.101515

In [16]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0   l2-zero    100       0.677067        0.6597        0.6916
1   l2-zero   1000       0.876600        0.8722        0.8820
2   l2-zero  10000       0.946133        0.9382        0.9509
3   l2-zero  50000       0.969967        0.9688        0.9709

In [17]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0   l2-zero    100       0.973520      0.937715      1.025161
1   l2-zero   1000       0.413107      0.392350      0.435222
2   l2-zero  10000       0.189986      0.185287      0.196428
3   l2-zero  50000       0.100004      0.098614      0.101515

In [18]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state}"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state}"')

print(count)

-1

In [19]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'val_acc', 'val_nll']
tuned_df = pd.DataFrame(columns=columns)

for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
    row = [criterion, model_name, n, random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
    tuned_df.loc[len(tuned_df)] = row
    
min_indices = tuned_df.groupby(['criterion', 'n', 'random_state'])['val_nll'].idxmin()
tuned_df = tuned_df.loc[min_indices]

experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10'

columns = ['criterion', 'model_name', 'n', 'random_state', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for index, row in tuned_df.iterrows():
    if os.path.exists(f'{experiments_directory}/{row.model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{row.model_name}.csv')
        row = [row.criterion, row.model_name, row.n, row.random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row

retrained_df

,criterion,model_name,n,random_state,test_acc,test_nll
0,l2-sp,l2-sp_alpha=0.001_beta=0.001_lr_0=0.001_n=100_...,100,1001,0.6891,0.936994
1,l2-sp,l2-sp_alpha=0.01_beta=0.01_lr_0=0.001_n=100_ra...,100,2001,0.6589,1.022275
2,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=100_ran...,100,3001,0.7228,0.853342
3,l2-sp,l2-sp_alpha=0.001_beta=0.0001_lr_0=0.1_n=1000_...,1000,1001,0.8939,0.410627
4,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=1000_ra...,1000,2001,0.8836,0.390025
5,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=1000_ra...,1000,3001,0.8830,0.396594
6,l2-sp,l2-sp_alpha=0.001_beta=0.001_lr_0=0.1_n=10000_...,10000,1001,0.9533,0.157821
7,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=10000_r...,10000,2001,0.9539,0.154652
8,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=10000_r...,10000,3001,0.9555,0.150124
9,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=50000_r...,50000,1001,0.9720,0.092658
10,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=50000_r...,50000,2001,0.9739,0.085000
11,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=50000_r...,50000,3001,0.9718,0.087222

In [20]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,100,(l2-sp_alpha=0.001_beta=0.001_lr_0=0.001_n=100...,"(1001, 2001, 3001)","(0.6891000270843506, 0.6588999032974243, 0.722...","(0.9369944179534914, 1.022274973869324, 0.8533...",0.690267,0.026100,0.6589,0.7228,0.937537,0.068968,0.853342,1.022275
1,l2-sp,1000,(l2-sp_alpha=0.001_beta=0.0001_lr_0=0.1_n=1000...,"(1001, 2001, 3001)","(0.8939000368118286, 0.8835999965667725, 0.882...","(0.4106269568443298, 0.3900250916481017, 0.396...",0.886833,0.005003,0.8830,0.8939,0.399082,0.008593,0.390025,0.410627
2,l2-sp,10000,(l2-sp_alpha=0.001_beta=0.001_lr_0=0.1_n=10000...,"(1001, 2001, 3001)","(0.9533000588417052, 0.9538999795913696, 0.955...","(0.1578208662092684, 0.1546521729946136, 0.150...",0.954233,0.000929,0.9533,0.9555,0.154199,0.003158,0.150124,0.157821
3,l2-sp,50000,(l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=50000_...,"(1001, 2001, 3001)","(0.9720000624656676, 0.9738999605178832, 0.971...","(0.0926579918861388, 0.0849999605417251, 0.087...",0.972567,0.000946,0.9718,0.9739,0.088293,0.003217,0.085000,0.092658

In [21]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp    100       0.690267        0.6589        0.7228
1     l2-sp   1000       0.886833        0.8830        0.8939
2     l2-sp  10000       0.954233        0.9533        0.9555
3     l2-sp  50000       0.972567        0.9718        0.9739

In [22]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp    100       0.937537      0.853342      1.022275
1     l2-sp   1000       0.399082      0.390025      0.410627
2     l2-sp  10000       0.154199      0.150124      0.157821
3     l2-sp  50000       0.088293      0.085000      0.092658

In [23]:
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'ptyl'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10_SSL'
lambds = np.logspace(start=0, stop=9, num=10)
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'val_acc', 'val_nll']
tuned_df = pd.DataFrame(columns=columns)

count = -1
for beta, lambd, lr_0, n, random_state in itertools.product(betas, lambds, lr_0s, ns, random_states):
    model_name = f'{criterion}_beta={beta}_lambd={lambd}_lr_0={lr_0}_n={n}_random_state={random_state}'
    temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
    row = [criterion, model_name, n, random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
    tuned_df.loc[len(tuned_df)] = row
    
min_indices = tuned_df.groupby(['criterion', 'n', 'random_state'])['val_nll'].idxmin()
tuned_df = tuned_df.loc[min_indices]

experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_SSL'

columns = ['criterion', 'model_name', 'n', 'random_state', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for index, row in tuned_df.iterrows():
    if os.path.exists(f'{experiments_directory}/{row.model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{row.model_name}.csv')
        row = [row.criterion, row.model_name, row.n, row.random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row

retrained_df

,criterion,model_name,n,random_state,test_acc,test_nll
0,ptyl,ptyl_beta=1e-05_lambd=1.0_lr_0=0.01_n=100_rand...,100,1001,0.5709,1.401571
1,ptyl,ptyl_beta=0.001_lambd=1.0_lr_0=0.1_n=100_rando...,100,2001,0.6108,1.197487
2,ptyl,ptyl_beta=1e-05_lambd=1000.0_lr_0=0.001_n=100_...,100,3001,0.5569,1.410695
3,ptyl,ptyl_beta=1e-06_lambd=1.0_lr_0=0.1_n=1000_rand...,1000,1001,0.8637,0.487678
4,ptyl,ptyl_beta=1e-05_lambd=1.0_lr_0=0.1_n=1000_rand...,1000,2001,0.8634,0.505643
5,ptyl,ptyl_beta=0.0001_lambd=1.0_lr_0=0.1_n=1000_ran...,1000,3001,0.8621,0.516766
6,ptyl,ptyl_beta=0.001_lambd=1.0_lr_0=0.1_n=10000_ran...,10000,1001,0.9371,0.218758
7,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=10000_rand...,10000,2001,0.9360,0.223864
8,ptyl,ptyl_beta=0.001_lambd=1.0_lr_0=0.1_n=10000_ran...,10000,3001,0.9344,0.242136
9,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.01_n=50000_ran...,50000,1001,0.9684,0.114810
10,ptyl,ptyl_beta=0.01_lambd=100.0_lr_0=0.01_n=50000_r...,50000,2001,0.9658,0.112981
11,ptyl,ptyl_beta=0.01_lambd=10000000.0_lr_0=0.01_n=50...,50000,3001,0.9690,0.112933

In [24]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,100,(ptyl_beta=1e-05_lambd=1.0_lr_0=0.01_n=100_ran...,"(1001, 2001, 3001)","(0.570900022983551, 0.61080002784729, 0.556900...","(1.4015710836410524, 1.1974870056152342, 1.410...",0.579533,0.022836,0.5569,0.6108,1.336584,0.098427,1.197487,1.410695
1,ptyl,1000,(ptyl_beta=1e-06_lambd=1.0_lr_0=0.1_n=1000_ran...,"(1001, 2001, 3001)","(0.8637000322341919, 0.8633999824523926, 0.862...","(0.4876775226593018, 0.5056429102897644, 0.516...",0.863067,0.000694,0.8621,0.8637,0.503362,0.011984,0.487678,0.516766
2,ptyl,10000,(ptyl_beta=0.001_lambd=1.0_lr_0=0.1_n=10000_ra...,"(1001, 2001, 3001)","(0.9370999932289124, 0.9359999895095824, 0.934...","(0.2187583981990813, 0.2238637113571167, 0.242...",0.935833,0.001109,0.9344,0.9371,0.228253,0.010036,0.218758,0.242136
3,ptyl,50000,(ptyl_beta=0.01_lambd=1.0_lr_0=0.01_n=50000_ra...,"(1001, 2001, 3001)","(0.968399941921234, 0.9657999277114868, 0.9689...","(0.1148096669912338, 0.1129812270641327, 0.112...",0.967733,0.001389,0.9658,0.9690,0.113575,0.000874,0.112933,0.114810

In [25]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl    100       0.579533        0.5569        0.6108
1      ptyl   1000       0.863067        0.8621        0.8637
2      ptyl  10000       0.935833        0.9344        0.9371
3      ptyl  50000       0.967733        0.9658        0.9690

In [26]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl    100       1.336584      1.197487      1.410695
1      ptyl   1000       0.503362      0.487678      0.516766
2      ptyl  10000       0.228253      0.218758      0.242136
3      ptyl  50000       0.113575      0.112933      0.114810

In [27]:
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'ptyl'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lambds = np.logspace(start=0, stop=9, num=10)
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'val_acc', 'val_nll']
tuned_df = pd.DataFrame(columns=columns)

count = -1
for beta, lambd, lr_0, n, random_state in itertools.product(betas, lambds, lr_0s, ns, random_states):
    model_name = f'{criterion}_beta={beta}_lambd={lambd}_lr_0={lr_0}_n={n}_random_state={random_state}'
    temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
    row = [criterion, model_name, n, random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
    tuned_df.loc[len(tuned_df)] = row
    
min_indices = tuned_df.groupby(['criterion', 'n', 'random_state'])['val_nll'].idxmin()
tuned_df = tuned_df.loc[min_indices]

experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10'

columns = ['criterion', 'model_name', 'n', 'random_state', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for index, row in tuned_df.iterrows():
    if os.path.exists(f'{experiments_directory}/{row.model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{row.model_name}.csv')
        row = [row.criterion, row.model_name, row.n, row.random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row

retrained_df

,criterion,model_name,n,random_state,test_acc,test_nll
0,ptyl,ptyl_beta=0.0_lambd=10.0_lr_0=0.001_n=100_rand...,100,1001,0.6920,0.935029
1,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.01_n=100_rando...,100,2001,0.6960,0.912352
2,ptyl,ptyl_beta=0.001_lambd=10.0_lr_0=0.1_n=100_rand...,100,3001,0.7138,0.866968
3,ptyl,ptyl_beta=0.001_lambd=10.0_lr_0=0.1_n=1000_ran...,1000,1001,0.9025,0.338868
4,ptyl,ptyl_beta=0.001_lambd=10.0_lr_0=0.1_n=1000_ran...,1000,2001,0.8956,0.363368
5,ptyl,ptyl_beta=0.001_lambd=10.0_lr_0=0.1_n=1000_ran...,1000,3001,0.8947,0.365318
6,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=10000_rand...,10000,1001,0.9578,0.139635
7,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=10000_rand...,10000,2001,0.9545,0.155638
8,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=10000_rand...,10000,3001,0.9556,0.142902
9,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=50000_rand...,50000,1001,0.9700,0.096795
10,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=50000_rand...,50000,2001,0.9675,0.103428
11,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=50000_rand...,50000,3001,0.9721,0.097776

In [28]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,100,(ptyl_beta=0.0_lambd=10.0_lr_0=0.001_n=100_ran...,"(1001, 2001, 3001)","(0.6919999718666077, 0.6959999799728394, 0.713...","(0.9350289110183716, 0.912351915550232, 0.8669...",0.700600,0.009476,0.6920,0.7138,0.904783,0.028296,0.866968,0.935029
1,ptyl,1000,(ptyl_beta=0.001_lambd=10.0_lr_0=0.1_n=1000_ra...,"(1001, 2001, 3001)","(0.9025000333786012, 0.8955999612808228, 0.894...","(0.3388682183265687, 0.3633676978826524, 0.365...",0.897600,0.003484,0.8947,0.9025,0.355851,0.012035,0.338868,0.365318
2,ptyl,10000,(ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=10000_ran...,"(1001, 2001, 3001)","(0.9577999711036682, 0.9545000195503236, 0.955...","(0.1396347767114639, 0.1556378710985183, 0.142...",0.955967,0.001372,0.9545,0.9578,0.146058,0.006904,0.139635,0.155638
3,ptyl,50000,(ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=50000_ran...,"(1001, 2001, 3001)","(0.9700000286102296, 0.9675000309944152, 0.972...","(0.0967950084924697, 0.1034276438713074, 0.097...",0.969867,0.001880,0.9675,0.9721,0.099333,0.002923,0.096795,0.103428

In [29]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl    100       0.700600        0.6920        0.7138
1      ptyl   1000       0.897600        0.8947        0.9025
2      ptyl  10000       0.955967        0.9545        0.9578
3      ptyl  50000       0.969867        0.9675        0.9721

In [30]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl    100       0.904783      0.866968      0.935029
1      ptyl   1000       0.355851      0.338868      0.365318
2      ptyl  10000       0.146058      0.139635      0.155638
3      ptyl  50000       0.099333      0.096795      0.103428

In [31]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_ViT_B_16'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ViT-B/16'
ns = [100, 1000, 10000, 50000]
prior_directory = '/cluster/tufts/hugheslab/eharve06/vit_b_16_torchvision'
prior_type = 'vit_b_16_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state}"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state}"')
print(count)

-1

In [32]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10_ViT_B_16'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'val_acc', 'val_nll']
tuned_df = pd.DataFrame(columns=columns)

for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        tuned_df.loc[len(tuned_df)] = row
    
min_indices = tuned_df.groupby(['criterion', 'n', 'random_state'])['val_nll'].idxmin()
tuned_df = tuned_df.loc[min_indices]

experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_ViT_B_16'

columns = ['criterion', 'model_name', 'n', 'random_state', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for index, row in tuned_df.iterrows():
    if os.path.exists(f'{experiments_directory}/{row.model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{row.model_name}.csv')
        row = [row.criterion, row.model_name, row.n, row.random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row

retrained_df

,criterion,model_name,n,random_state,test_acc,test_nll
0,l2-sp,l2-sp_alpha=0.01_beta=0.0_lr_0=0.1_n=100_rando...,100,1001,0.8769,0.413999
1,l2-sp,l2-sp_alpha=0.01_beta=0.0_lr_0=0.1_n=100_rando...,100,2001,0.8650,0.461164
2,l2-sp,l2-sp_alpha=0.001_beta=1e-05_lr_0=0.1_n=100_ra...,100,3001,0.8534,0.513979
3,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=1000_ra...,1000,1001,0.9402,0.203403
4,l2-sp,l2-sp_alpha=0.01_beta=0.0_lr_0=0.01_n=1000_ran...,1000,2001,0.9333,0.251824
5,l2-sp,l2-sp_alpha=0.0_beta=1e-06_lr_0=0.01_n=1000_ra...,1000,3001,0.9402,0.280404
6,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=10000_r...,10000,1001,0.9722,0.096659
7,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=10000_r...,10000,2001,0.9707,0.102452
8,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=10000_r...,10000,3001,0.9723,0.101844
9,l2-sp,l2-sp_alpha=0.01_beta=1e-06_lr_0=0.1_n=50000_r...,50000,1001,0.9823,0.061895
10,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=50000_r...,50000,2001,0.9815,0.057842
11,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=50000_r...,50000,3001,0.9823,0.058678

In [33]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,100,(l2-sp_alpha=0.01_beta=0.0_lr_0=0.1_n=100_rand...,"(1001, 2001, 3001)","(0.8768999576568604, 0.8650000095367432, 0.853...","(0.4139991566658021, 0.4611643419265746, 0.513...",0.865100,0.009594,0.8534,0.8769,0.463047,0.040838,0.413999,0.513979
1,l2-sp,1000,(l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=1000_r...,"(1001, 2001, 3001)","(0.9401999711990356, 0.933299958705902, 0.9401...","(0.2034033906698227, 0.2518235771656036, 0.280...",0.937900,0.003253,0.9333,0.9402,0.245210,0.031781,0.203403,0.280404
2,l2-sp,10000,(l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=10000_...,"(1001, 2001, 3001)","(0.9722000360488892, 0.9706999659538268, 0.972...","(0.0966585018076002, 0.102451562166214, 0.1018...",0.971733,0.000732,0.9707,0.9723,0.100318,0.002600,0.096659,0.102452
3,l2-sp,50000,(l2-sp_alpha=0.01_beta=1e-06_lr_0=0.1_n=50000_...,"(1001, 2001, 3001)","(0.9823000431060792, 0.981499969959259, 0.9823...","(0.061895377612859, 0.0578415124833583, 0.0586...",0.982033,0.000377,0.9815,0.9823,0.059472,0.001748,0.057842,0.061895

In [34]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp    100       0.865100        0.8534        0.8769
1     l2-sp   1000       0.937900        0.9333        0.9402
2     l2-sp  10000       0.971733        0.9707        0.9723
3     l2-sp  50000       0.982033        0.9815        0.9823

In [35]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp    100       0.463047      0.413999      0.513979
1     l2-sp   1000       0.245210      0.203403      0.280404
2     l2-sp  10000       0.100318      0.096659      0.102452
3     l2-sp  50000       0.059472      0.057842      0.061895

In [36]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_ConvNeXt_Tiny'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ConvNeXt_Tiny'
ns = [100, 1000, 10000, 50000]
prior_directory = '/cluster/tufts/hugheslab/eharve06/convnext_tiny_torchvision'
prior_type = 'convnext_tiny_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state}"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state}"')
print(count)

-1

In [37]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10_ConvNeXt_Tiny'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'val_acc', 'val_nll']
tuned_df = pd.DataFrame(columns=columns)

for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        tuned_df.loc[len(tuned_df)] = row
    
min_indices = tuned_df.groupby(['criterion', 'n', 'random_state'])['val_nll'].idxmin()
tuned_df = tuned_df.loc[min_indices]

experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_ConvNeXt_Tiny'

columns = ['criterion', 'model_name', 'n', 'random_state', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for index, row in tuned_df.iterrows():
    if os.path.exists(f'{experiments_directory}/{row.model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{row.model_name}.csv')
        row = [row.criterion, row.model_name, row.n, row.random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row

retrained_df

,criterion,model_name,n,random_state,test_acc,test_nll
0,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=100_ran...,100,1001,0.8640,0.440313
1,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=100_ran...,100,2001,0.8426,0.496718
2,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=100_ran...,100,3001,0.8551,0.446547
3,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=1000_ra...,1000,1001,0.9428,0.191435
4,l2-sp,l2-sp_alpha=0.01_beta=0.0001_lr_0=0.01_n=1000_...,1000,2001,0.9392,0.236115
5,l2-sp,l2-sp_alpha=0.01_beta=0.0_lr_0=0.01_n=1000_ran...,1000,3001,0.9400,0.232371
6,l2-sp,l2-sp_alpha=0.001_beta=0.001_lr_0=0.1_n=10000_...,10000,1001,0.9666,0.117546
7,l2-sp,l2-sp_alpha=0.01_beta=0.01_lr_0=0.1_n=10000_ra...,10000,2001,0.9696,0.106391
8,l2-sp,l2-sp_alpha=0.01_beta=0.01_lr_0=0.1_n=10000_ra...,10000,3001,0.9700,0.105166
9,l2-sp,l2-sp_alpha=0.01_beta=0.01_lr_0=0.1_n=50000_ra...,50000,1001,0.9782,0.065922
10,l2-sp,l2-sp_alpha=0.01_beta=0.01_lr_0=0.1_n=50000_ra...,50000,2001,0.9789,0.066154
11,l2-sp,l2-sp_alpha=1e-05_beta=0.01_lr_0=0.01_n=50000_...,50000,3001,0.9800,0.068300

In [38]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,100,(l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=100_ra...,"(1001, 2001, 3001)","(0.8639999628067017, 0.8426000475883484, 0.855...","(0.4403125199317932, 0.4967180253982544, 0.446...",0.853900,0.008778,0.8426,0.8640,0.461192,0.025249,0.440313,0.496718
1,l2-sp,1000,(l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=1000_r...,"(1001, 2001, 3001)","(0.942799985408783, 0.939199924468994, 0.93999...","(0.1914354908466339, 0.2361150824785232, 0.232...",0.940667,0.001543,0.9392,0.9428,0.219974,0.020238,0.191435,0.236115
2,l2-sp,10000,(l2-sp_alpha=0.001_beta=0.001_lr_0=0.1_n=10000...,"(1001, 2001, 3001)","(0.9666000008583068, 0.9696000218391418, 0.969...","(0.1175456713199615, 0.1063905678749084, 0.105...",0.968733,0.001517,0.9666,0.9700,0.109701,0.005570,0.105166,0.117546
3,l2-sp,50000,(l2-sp_alpha=0.01_beta=0.01_lr_0=0.1_n=50000_r...,"(1001, 2001, 3001)","(0.9782000184059144, 0.9789000153541564, 0.979...","(0.0659220326721668, 0.0661542883813381, 0.068...",0.979033,0.000741,0.9782,0.9800,0.066792,0.001071,0.065922,0.068300

In [39]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp    100       0.853900        0.8426        0.8640
1     l2-sp   1000       0.940667        0.9392        0.9428
2     l2-sp  10000       0.968733        0.9666        0.9700
3     l2-sp  50000       0.979033        0.9782        0.9800

In [40]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp    100       0.461192      0.440313      0.496718
1     l2-sp   1000       0.219974      0.191435      0.236115
2     l2-sp  10000       0.109701      0.105166      0.117546
3     l2-sp  50000       0.066792      0.065922      0.068300