In [2]:
import os
import math
import itertools
import numpy as np
import pandas as pd

In [3]:
def check_epochs(df, n, batch_size=128, steps=6000):
    num_batches = math.floor(n/batch_size)
    epochs = int(steps/num_batches)
    if df.shape[0] == epochs:
        return True
    else:
        return False

In [3]:
criterion = 'l2-zero'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [4]:
criterion = 'l2-sp'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.1 --model_name='l2-sp_kappa=235285.22_lr_0=0.1_n=100_random_state=1001' --n=100 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.1 --model_name='l2-sp_kappa=235285.22_lr_0=0.1_n=100_random_state=2001' --n=100 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.1 --model_name='l2-sp_kappa=235285.22_lr_0=0.1_n=100_random_state=3001' --n=100 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.1 --model_name='l2-sp_kappa=23528.522_lr_0=0.1_n=1000_random_state=1001' --n=1000 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.1 --model_name='l2-sp_kappa=23528.522_lr_0=0.1_n=1000_random_state=2001' --n=1000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.1 --model_name='l2-sp_kappa=23528.522_lr_0=0.1_n=1000_random_state=3001' --n=1000 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.1 --model_name='l2-sp_kappa=2352.8522_lr_0=0.1_n=10000_random_state=1001' --n=10000 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.1 --model_name='l2-sp_kappa=2352.8522_lr_0=0.1_n=10000_random_state=2001' --n=10000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.1 --model_name='l2-sp_kappa=2352.8522_lr_0=0.1_n=10000_random_state=3001' --n=10000 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.1 --model_name='l2-sp_kappa=470.57044_lr_0=0.1_n=50000_random_state=1001' --n=50000 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.1 --model_name='l2-sp_kappa=470.57044_lr_0=0.1_n=50000_random_state=2001' --n=50000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.1 --model_name='l2-sp_kappa=470.57044_lr_0=0.1_n=50000_random_state=3001' --n=50000 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.01 --model_name='l2-sp_kappa=235285.22_lr_0=0.01_n=100_random_state=1001' --n=100 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.01 --model_name='l2-sp_kappa=235285.22_lr_0=0.01_n=100_random_state=2001' --n=100 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.01 --model_name='l2-sp_kappa=235285.22_lr_0=0.01_n=100_random_state=3001' --n=100 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.01 --model_name='l2-sp_kappa=23528.522_lr_0=0.01_n=1000_random_state=1001' --n=1000 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.01 --model_name='l2-sp_kappa=23528.522_lr_0=0.01_n=1000_random_state=2001' --n=1000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.01 --model_name='l2-sp_kappa=23528.522_lr_0=0.01_n=1000_random_state=3001' --n=1000 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.01 --model_name='l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random_state=1001' --n=10000 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.01 --model_name='l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random_state=2001' --n=10000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.01 --model_name='l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random_state=3001' --n=10000 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.01 --model_name='l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random_state=1001' --n=50000 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.01 --model_name='l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random_state=2001' --n=50000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.01 --model_name='l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random_state=3001' --n=50000 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.001 --model_name='l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_state=1001' --n=100 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.001 --model_name='l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_state=2001' --n=100 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.001 --model_name='l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_state=3001' --n=100 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.001 --model_name='l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random_state=1001' --n=1000 --num_workers=0 --random_state=1001 --save"

    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.001 --model_name='l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random_state=2001' --n=1000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.001 --model_name='l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random_state=3001' --n=1000 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.001 --model_name='l2-sp_kappa=2352.8522_lr_0=0.001_n=10000_random_state=1001' --n=10000 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.001 --model_name='l2-sp_kappa=2352.8522_lr_0=0.001_n=10000_random_state=2001' --n=10000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.001 --model_name='l2-sp_kappa=2352.8522_lr_0=0.001_n=10000_random_state=3001' --n=10000 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.001 --model_name='l2-sp_kappa=470.57044_lr_0=0.001_n=50000_random_state=1001' --n=50000 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.001 --model_name='l2-sp_kappa=470.57044_lr_0=0.001_n=50000_random_state=2001' --n=50000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.001 --model_name='l2-sp_kappa=470.57044_lr_0=0.001_n=50000_random_state=3001' --n=50000 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.0001 --model_name='l2-sp_kappa=235285.22_lr_0=0.0001_n=100_random_state=1001' --n=100 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.0001 --model_name='l2-sp_kappa=235285.22_lr_0=0.0001_n=100_random_state=2001' --n=100 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=235285.22 --lr_0=0.0001 --model_name='l2-sp_kappa=235285.22_lr_0=0.0001_n=100_random_state=3001' --n=100 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.0001 --model_name='l2-sp_kappa=23528.522_lr_0=0.0001_n=1000_random_state=1001' --n=1000 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.0001 --model_name='l2-sp_kappa=23528.522_lr_0=0.0001_n=1000_random_state=2001' --n=1000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=23528.522 --lr_0=0.0001 --model_name='l2-sp_kappa=23528.522_lr_0=0.0001_n=1000_random_state=3001' --n=1000 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.0001 --model_name='l2-sp_kappa=2352.8522_lr_0=0.0001_n=10000_random_state=1001' --n=10000 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.0001 --model_name='l2-sp_kappa=2352.8522_lr_0=0.0001_n=10000_random_state=2001' --n=10000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=2352.8522 --lr_0=0.0001 --model_name='l2-sp_kappa=2352.8522_lr_0=0.0001_n=10000_random_state=3001' --n=10000 --num_workers=0 --random_state=3001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.0001 --model_name='l2-sp_kappa=470.57044_lr_0=0.0001_n=50000_random_state=1001' --n=50000 --num_workers=0 --random_state=1001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.0001 --model_name='l2-sp_kappa=470.57044_lr_0=0.0001_n=50000_random_state=2001' --n=50000 --num_workers=0 --random_state=2001 --save"
    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/CIFAR-10' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI_iters=30000' --kappa=470.57044 --lr_0=0.0001 --model_name='l2-sp_kappa=470.57044_lr_0=0.0001_n=50000_random_state=3001' --n=50000 --num_workers=0 --random_state=3001 --save"
47

In [5]:
criterion = 'ptyl'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_SSL_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
prior_directory = '/cluster/tufts/hugheslab/eharve06/resnet50_ssl_prior'
prior_type = 'resnet50_ssl_prior'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

-1

In [6]:
criterion = 'ptyl'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [7]:
criterion = 'l2-zero'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
24,l2-zero,l2-zero_kappa=235285.22_lr_0=0.001_n=100_rando...,100,1001,7.987484e+07,0.6247,2.735646
25,l2-zero,l2-zero_kappa=235285.22_lr_0=0.001_n=100_rando...,100,2001,7.280507e+07,0.6071,2.880208
26,l2-zero,l2-zero_kappa=235285.22_lr_0=0.001_n=100_rando...,100,3001,6.520396e+07,0.6330,2.499837
27,l2-zero,l2-zero_kappa=23528.522_lr_0=0.001_n=1000_rand...,1000,1001,4.998312e+07,0.8765,0.502714
28,l2-zero,l2-zero_kappa=23528.522_lr_0=0.001_n=1000_rand...,1000,2001,4.782618e+07,0.8737,0.533140
29,l2-zero,l2-zero_kappa=23528.522_lr_0=0.001_n=1000_rand...,1000,3001,4.705157e+07,0.8692,0.550950
6,l2-zero,l2-zero_kappa=2352.8522_lr_0=0.1_n=10000_rando...,10000,1001,4.266812e+07,0.9025,0.693176
31,l2-zero,l2-zero_kappa=2352.8522_lr_0=0.001_n=10000_ran...,10000,2001,4.277857e+07,0.9088,0.288749
32,l2-zero,l2-zero_kappa=2352.8522_lr_0=0.001_n=10000_ran...,10000,3001,4.300660e+07,0.9160,0.260938
9,l2-zero,l2-zero_kappa=470.57044_lr_0=0.1_n=50000_rando...,50000,1001,3.442958e+07,0.9326,0.274340
10,l2-zero,l2-zero_kappa=470.57044_lr_0=0.1_n=50000_rando...,50000,2001,3.337915e+07,0.9269,0.313323
11,l2-zero,l2-zero_kappa=470.57044_lr_0=0.1_n=50000_rando...,50000,3001,3.459465e+07,0.9294,0.295894

In [8]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-zero,100,(l2-zero_kappa=235285.22_lr_0=0.001_n=100_rand...,"(1001, 2001, 3001)","(79874842.4, 72805072.0, 65203962.0)","(0.6247000098228455, 0.6071000099182129, 0.632...","(2.7356458805084243, 2.88020813217163, 2.49983...",0.621600,0.010798,0.6071,0.6330,2.705230,0.156768,2.499837,2.880208
1,l2-zero,1000,(l2-zero_kappa=23528.522_lr_0=0.001_n=1000_ran...,"(1001, 2001, 3001)","(49983119.6512, 47826175.47840001, 47051569.03...","(0.8764999508857727, 0.8737000226974487, 0.869...","(0.5027143522262574, 0.5331401852130888, 0.550...",0.873133,0.003007,0.8692,0.8765,0.528935,0.019915,0.502714,0.550950
2,l2-zero,10000,(l2-zero_kappa=2352.8522_lr_0=0.1_n=10000_rand...,"(1001, 2001, 3001)","(42668122.14016, 42778572.83968, 43006599.5516...","(0.9025000333786012, 0.908799946308136, 0.9159...","(0.6931758224487305, 0.288748571395874, 0.2609...",0.909100,0.005515,0.9025,0.9160,0.414287,0.197531,0.260938,0.693176
3,l2-zero,50000,(l2-zero_kappa=470.57044_lr_0=0.1_n=50000_rand...,"(1001, 2001, 3001)","(34429582.60281599, 33379151.891328, 34594649....","(0.9326000213623048, 0.926900029182434, 0.9294...","(0.2743397240638733, 0.313322682571411, 0.2958...",0.929633,0.002333,0.9269,0.9326,0.294519,0.015944,0.274340,0.313323

In [9]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0   l2-zero    100       0.621600        0.6071        0.6330
1   l2-zero   1000       0.873133        0.8692        0.8765
2   l2-zero  10000       0.909100        0.9025        0.9160
3   l2-zero  50000       0.929633        0.9269        0.9326

In [10]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0   l2-zero    100       2.705230      2.499837      2.880208
1   l2-zero   1000       0.528935      0.502714      0.550950
2   l2-zero  10000       0.414287      0.260938      0.693176
3   l2-zero  50000       0.294519      0.274340      0.313323

In [4]:
criterion = 'l2-sp'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

['l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_state=1001'
 'l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_state=2001'
 'l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_state=3001'
 'l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random_state=1001'
 'l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random_state=2001'
 'l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random_state=3001'
 'l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random_state=1001'
 'l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random_state=2001'
 'l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random_state=3001'
 'l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random_state=1001'
 'l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random_state=2001'
 'l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random_state=3001']

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
24,l2-sp,l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_...,100,1001,1.241041e+05,0.7014,0.959640
25,l2-sp,l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_...,100,2001,8.450325e+05,0.6862,1.191830
26,l2-sp,l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_...,100,3001,5.003831e+05,0.7308,0.959388
27,l2-sp,l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random...,1000,1001,8.081569e+05,0.8739,0.388796
28,l2-sp,l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random...,1000,2001,8.745489e+05,0.8741,0.393274
29,l2-sp,l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random...,1000,3001,6.726705e+05,0.8707,0.415737
18,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,1001,3.185813e+06,0.9520,0.265158
19,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,2001,3.204540e+06,0.9486,0.271640
20,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,3001,3.308029e+06,0.9518,0.251166
21,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,1001,1.335702e+06,0.9668,0.118539
22,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,2001,1.317316e+06,0.9680,0.117079
23,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,3001,1.376302e+06,0.9684,0.117263

In [12]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,100,(l2-sp_kappa=235285.22_lr_0=0.0001_n=100_rando...,"(1001, 2001, 3001)","(1000671.34375, 321581.509375, 305993.45)","(0.6935999989509583, 0.6574000120162964, 0.705...","(0.9195248167037964, 1.0414291486740113, 0.890...",0.685433,0.020390,0.6574,0.7053,0.950645,0.065243,0.890980,1.041429
1,l2-sp,1000,(l2-sp_kappa=23528.522_lr_0=0.0001_n=1000_rand...,"(1001, 2001, 3001)","(5425212.2048, 5719436.2488, 5499672.326)","(0.8588999509811401, 0.8641000390052795, 0.857...","(0.4360437826156616, 0.4391814342975615, 0.455...",0.860200,0.002808,0.8576,0.8641,0.443502,0.008427,0.436044,0.455282
2,l2-sp,10000,(l2-sp_kappa=2352.8522_lr_0=0.001_n=10000_rand...,"(1001, 2001, 3001)","(1017153.4209, 1013934.7530725, 1010654.1455675)","(0.942300021648407, 0.9427000880241394, 0.9422...","(0.2511401765346527, 0.2483040474891663, 0.244...",0.942400,0.000216,0.9422,0.9427,0.248069,0.002609,0.244762,0.251140
3,l2-sp,50000,(l2-sp_kappa=470.57044_lr_0=0.001_n=50000_rand...,"(1001, 2001, 3001)","(1276079.6269600005, 1261451.906556, 1254158.4...","(0.960099995136261, 0.960499942302704, 0.95919...","(0.1259697262763977, 0.1252013417005539, 0.126...",0.959933,0.000544,0.9592,0.9605,0.125769,0.000407,0.125201,0.126137

In [13]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp    100       0.685433        0.6574        0.7053
1     l2-sp   1000       0.860200        0.8576        0.8641
2     l2-sp  10000       0.942400        0.9422        0.9427
3     l2-sp  50000       0.959933        0.9592        0.9605

In [14]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp    100       0.950645      0.890980      1.041429
1     l2-sp   1000       0.443502      0.436044      0.455282
2     l2-sp  10000       0.248069      0.244762      0.251140
3     l2-sp  50000       0.125769      0.125201      0.126137

In [15]:
criterion = 'ptyl'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_SSL_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
36,ptyl,ptyl_kappa=235285.22_lr_0=0.0001_n=100_random_...,100,1001,2.592479e+07,0.6050,1.551445
37,ptyl,ptyl_kappa=235285.22_lr_0=0.0001_n=100_random_...,100,2001,2.472794e+07,0.6070,1.507268
38,ptyl,ptyl_kappa=235285.22_lr_0=0.0001_n=100_random_...,100,3001,2.250617e+07,0.5953,1.463025
27,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,1001,1.597296e+06,0.7814,0.763501
28,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,2001,1.431025e+06,0.7754,0.787477
29,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,3001,1.438243e+06,0.7876,0.782926
30,ptyl,ptyl_kappa=2352.8522_lr_0=0.001_n=10000_random...,10000,1001,6.385574e+06,0.9029,0.307471
31,ptyl,ptyl_kappa=2352.8522_lr_0=0.001_n=10000_random...,10000,2001,6.317718e+06,0.9068,0.291742
32,ptyl,ptyl_kappa=2352.8522_lr_0=0.001_n=10000_random...,10000,3001,5.856593e+06,0.9075,0.285636
21,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,1001,6.872749e+06,0.9670,0.116459
22,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,2001,6.687714e+06,0.9673,0.114500
23,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,3001,6.412031e+06,0.9661,0.118628

In [16]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,100,(ptyl_kappa=235285.22_lr_0=0.0001_n=100_random...,"(1001, 2001, 3001)","(25924794.0, 24727941.2, 22506166.0)","(0.6050000190734863, 0.6069999933242798, 0.595...","(1.5514447090148926, 1.5072678478240962, 1.463...",0.602433,0.005110,0.5953,0.6070,1.507246,0.036097,1.463025,1.551445
1,ptyl,1000,(ptyl_kappa=23528.522_lr_0=0.001_n=1000_random...,"(1001, 2001, 3001)","(1597295.64135, 1431024.79685, 1438242.6671)","(0.7814000248908997, 0.7754001021385193, 0.787...","(0.7635006882667545, 0.7874768589019774, 0.782...",0.781467,0.004981,0.7754,0.7876,0.777968,0.010397,0.763501,0.787477
2,ptyl,10000,(ptyl_kappa=2352.8522_lr_0=0.001_n=10000_rando...,"(1001, 2001, 3001)","(6385573.60036, 6317717.84568, 5856592.630039999)","(0.902899980545044, 0.9067999720573424, 0.9074...","(0.3074707009315491, 0.2917423649787903, 0.285...",0.905733,0.002024,0.9029,0.9075,0.294950,0.009198,0.285636,0.307471
3,ptyl,50000,(ptyl_kappa=470.57044_lr_0=0.01_n=50000_random...,"(1001, 2001, 3001)","(6872749.156728001, 6687714.023768, 6412031.04...","(0.9670000076293944, 0.9672999978065492, 0.966...","(0.1164585856437682, 0.1145001266479492, 0.118...",0.966800,0.000510,0.9661,0.9673,0.116529,0.001686,0.114500,0.118628

In [17]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl    100       0.602433        0.5953        0.6070
1      ptyl   1000       0.781467        0.7754        0.7876
2      ptyl  10000       0.905733        0.9029        0.9075
3      ptyl  50000       0.966800        0.9661        0.9673

In [18]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl    100       1.507246      1.463025      1.551445
1      ptyl   1000       0.777968      0.763501      0.787477
2      ptyl  10000       0.294950      0.285636      0.307471
3      ptyl  50000       0.116529      0.114500      0.118628

In [19]:
criterion = 'ptyl'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
24,ptyl,ptyl_kappa=235285.22_lr_0=0.001_n=100_random_s...,100,1001,1.164340e+05,0.6974,0.989701
25,ptyl,ptyl_kappa=235285.22_lr_0=0.001_n=100_random_s...,100,2001,8.470050e+05,0.6857,1.192234
26,ptyl,ptyl_kappa=235285.22_lr_0=0.001_n=100_random_s...,100,3001,4.734726e+05,0.7310,0.957618
27,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,1001,8.184627e+05,0.8753,0.387852
28,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,2001,7.611993e+05,0.8730,0.397584
29,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,3001,6.584999e+05,0.8709,0.415511
18,ptyl,ptyl_kappa=2352.8522_lr_0=0.01_n=10000_random_...,10000,1001,3.030512e+06,0.9501,0.255271
19,ptyl,ptyl_kappa=2352.8522_lr_0=0.01_n=10000_random_...,10000,2001,3.195753e+06,0.9480,0.279246
20,ptyl,ptyl_kappa=2352.8522_lr_0=0.01_n=10000_random_...,10000,3001,3.219495e+06,0.9530,0.250510
21,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,1001,1.312191e+06,0.9672,0.120371
22,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,2001,1.290469e+06,0.9684,0.119934
23,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,3001,1.371019e+06,0.9680,0.120479

In [20]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,100,(ptyl_kappa=235285.22_lr_0=0.001_n=100_random_...,"(1001, 2001, 3001)","(116434.0015625, 847005.0390625, 473472.5703125)","(0.6974000334739685, 0.6857000589370728, 0.731...","(0.9897008886337282, 1.1922336833953855, 0.957...",0.704700,0.019200,0.6857,0.7310,1.046517,0.103866,0.957618,1.192234
1,ptyl,1000,(ptyl_kappa=23528.522_lr_0=0.001_n=1000_random...,"(1001, 2001, 3001)","(818462.7383999999, 761199.2545, 658499.8637)","(0.8753000497817993, 0.8729999661445618, 0.870...","(0.3878521335601806, 0.3975842832326889, 0.415...",0.873067,0.001797,0.8709,0.8753,0.400316,0.011456,0.387852,0.415511
2,ptyl,10000,(ptyl_kappa=2352.8522_lr_0=0.01_n=10000_random...,"(1001, 2001, 3001)","(3030512.15849, 3195753.482, 3219494.8240875)","(0.9501000642776488, 0.9480000138282776, 0.953...","(0.2552711465358733, 0.2792461663246156, 0.250...",0.950367,0.002050,0.9480,0.9530,0.261676,0.012575,0.250510,0.279246
3,ptyl,50000,(ptyl_kappa=470.57044_lr_0=0.01_n=50000_random...,"(1001, 2001, 3001)","(1312191.0982160005, 1290469.4898860003, 13710...","(0.967199981212616, 0.968399941921234, 0.96799...","(0.1203705894708633, 0.119934031355381, 0.1204...",0.967867,0.000499,0.9672,0.9684,0.120261,0.000236,0.119934,0.120479

In [21]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl    100       0.704700        0.6857        0.7310
1      ptyl   1000       0.873067        0.8709        0.8753
2      ptyl  10000       0.950367        0.9480        0.9530
3      ptyl  50000       0.967867        0.9672        0.9684

In [22]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl    100       1.046517      0.957618      1.192234
1      ptyl   1000       0.400316      0.387852      0.415511
2      ptyl  10000       0.261676      0.250510      0.279246
3      ptyl  50000       0.120261      0.119934      0.120479