In [1]:
import os
import math
import itertools
import numpy as np
import pandas as pd

In [2]:
def check_epochs(df, n, batch_size=128, steps=6000):
    num_batches = math.floor(n/batch_size)
    epochs = int(steps/num_batches)
    if df.shape[0] == epochs:
        return True
    else:
        return False

In [3]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-zero'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for alpha, lr_0, n, random_state in itertools.product(alphas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        tuned_n = n - int((1/5) * n)
        if not check_epochs(temp_df, tuned_n, batch_size=min(128, tuned_n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
print(count)

-1

In [4]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        tuned_n = n - int((1/5) * n)
        if not check_epochs(temp_df, tuned_n, batch_size=min(128, tuned_n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
print(count)

-1

In [5]:
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'ptyl'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10_SSL'
lambds = np.logspace(start=0, stop=9, num=10)
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
prior_directory = '/cluster/tufts/hugheslab/eharve06/resnet50_ssl_prior'
prior_type = 'resnet50_ssl_prior'
random_states = [1001, 2001, 3001]

count = -1
for beta, lambd, lr_0, n, random_state in itertools.product(betas, lambds, lr_0s, ns, random_states):
    model_name = f'{criterion}_beta={beta}_lambd={lambd}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        tuned_n = n - int((1/5) * n)
        if not check_epochs(temp_df, tuned_n, batch_size=min(128, tuned_n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lambd={lambd} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --tune"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lambd={lambd} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --tune"')
print(count)

-1

In [6]:
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'ptyl'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lambds = np.logspace(start=0, stop=9, num=10)
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for beta, lambd, lr_0, n, random_state in itertools.product(betas, lambds, lr_0s, ns, random_states):
    model_name = f'{criterion}_beta={beta}_lambd={lambd}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        tuned_n = n - int((1/5) * n)
        if not check_epochs(temp_df, tuned_n, batch_size=min(128, tuned_n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lambd={lambd} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lambd={lambd} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --tune"')
print(count)

-1

In [7]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-zero'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'val_acc', 'val_nll']
tuned_df = pd.DataFrame(columns=columns)

for alpha, lr_0, n, random_state in itertools.product(alphas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_lr_0={lr_0}_n={n}_random_state={random_state}'
    temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
    row = [criterion, model_name, n, random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
    tuned_df.loc[len(tuned_df)] = row
    
min_indices = tuned_df.groupby(['criterion', 'n', 'random_state'])['val_nll'].idxmin()
tuned_df = tuned_df.loc[min_indices]

experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10'

columns = ['criterion', 'model_name', 'n', 'random_state', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for index, row in tuned_df.iterrows():
    if os.path.exists(f'{experiments_directory}/{row.model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{row.model_name}.csv')
        row = [row.criterion, row.model_name, row.n, row.random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row

retrained_df

,criterion,model_name,n,random_state,test_acc,test_nll
0,l2-zero,l2-zero_alpha=1e-06_lr_0=0.001_n=100_random_st...,100,1001,0.6916,0.937715
1,l2-zero,l2-zero_alpha=0.01_lr_0=0.001_n=100_random_sta...,100,2001,0.6597,1.025161
2,l2-zero,l2-zero_alpha=0.01_lr_0=0.001_n=100_random_sta...,100,3001,0.6799,0.957685
3,l2-zero,l2-zero_alpha=0.001_lr_0=0.001_n=1000_random_s...,1000,1001,0.8820,0.392350
4,l2-zero,l2-zero_alpha=0.0001_lr_0=0.001_n=1000_random_...,1000,2001,0.8756,0.411750
5,l2-zero,l2-zero_alpha=1e-06_lr_0=0.001_n=1000_random_s...,1000,3001,0.8722,0.435222
6,l2-zero,l2-zero_alpha=0.001_lr_0=0.01_n=10000_random_s...,10000,1001,0.9493,0.196428
7,l2-zero,l2-zero_alpha=0.001_lr_0=0.001_n=10000_random_...,10000,2001,0.9382,0.188244
8,l2-zero,l2-zero_alpha=0.001_lr_0=0.01_n=10000_random_s...,10000,3001,0.9509,0.185287
9,l2-zero,l2-zero_alpha=0.01_lr_0=0.01_n=50000_random_st...,50000,1001,0.9709,0.098614
10,l2-zero,l2-zero_alpha=0.01_lr_0=0.01_n=50000_random_st...,50000,2001,0.9688,0.101515
11,l2-zero,l2-zero_alpha=0.01_lr_0=0.01_n=50000_random_st...,50000,3001,0.9702,0.099882

In [8]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-zero,100,(l2-zero_alpha=1e-06_lr_0=0.001_n=100_random_s...,"(1001, 2001, 3001)","(0.69159996509552, 0.6596999168395996, 0.67989...","(0.9377148341178896, 1.0251605440139773, 0.957...",0.677067,0.013176,0.6597,0.6916,0.973520,0.037414,0.937715,1.025161
1,l2-zero,1000,(l2-zero_alpha=0.001_lr_0=0.001_n=1000_random_...,"(1001, 2001, 3001)","(0.8819999694824219, 0.8755999803543091, 0.872...","(0.3923495235443114, 0.4117499649524689, 0.435...",0.876600,0.004063,0.8722,0.8820,0.413107,0.017529,0.392350,0.435222
2,l2-zero,10000,(l2-zero_alpha=0.001_lr_0=0.01_n=10000_random_...,"(1001, 2001, 3001)","(0.9492999911308287, 0.9381999969482422, 0.950...","(0.1964283895254135, 0.188243520116806, 0.1852...",0.946133,0.005648,0.9382,0.9509,0.189986,0.004712,0.185287,0.196428
3,l2-zero,50000,(l2-zero_alpha=0.01_lr_0=0.01_n=50000_random_s...,"(1001, 2001, 3001)","(0.9708999395370485, 0.9688000679016112, 0.970...","(0.0986143164813518, 0.1015145426392555, 0.099...",0.969967,0.000873,0.9688,0.9709,0.100004,0.001187,0.098614,0.101515

In [9]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0   l2-zero    100       0.677067        0.6597        0.6916
1   l2-zero   1000       0.876600        0.8722        0.8820
2   l2-zero  10000       0.946133        0.9382        0.9509
3   l2-zero  50000       0.969967        0.9688        0.9709

In [10]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0   l2-zero    100       0.973520      0.937715      1.025161
1   l2-zero   1000       0.413107      0.392350      0.435222
2   l2-zero  10000       0.189986      0.185287      0.196428
3   l2-zero  50000       0.100004      0.098614      0.101515

In [11]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state}"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --alpha={alpha} --beta={beta} --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --experiments_directory=\'{experiments_directory}\' --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state}"')

print(count)

-1

In [12]:
alphas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'l2-sp'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'val_acc', 'val_nll']
tuned_df = pd.DataFrame(columns=columns)

for alpha, beta, lr_0, n, random_state in itertools.product(alphas, betas, lr_0s, ns, random_states):
    model_name = f'{criterion}_alpha={alpha}_beta={beta}_lr_0={lr_0}_n={n}_random_state={random_state}'
    temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
    row = [criterion, model_name, n, random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
    tuned_df.loc[len(tuned_df)] = row
    
min_indices = tuned_df.groupby(['criterion', 'n', 'random_state'])['val_nll'].idxmin()
tuned_df = tuned_df.loc[min_indices]

experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10'

columns = ['criterion', 'model_name', 'n', 'random_state', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for index, row in tuned_df.iterrows():
    if os.path.exists(f'{experiments_directory}/{row.model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{row.model_name}.csv')
        row = [row.criterion, row.model_name, row.n, row.random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row

retrained_df

,criterion,model_name,n,random_state,test_acc,test_nll
0,l2-sp,l2-sp_alpha=0.001_beta=0.001_lr_0=0.001_n=100_...,100,1001,0.6891,0.936994
1,l2-sp,l2-sp_alpha=0.01_beta=0.01_lr_0=0.001_n=100_ra...,100,2001,0.6589,1.022275
2,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=100_ran...,100,3001,0.7228,0.853342
3,l2-sp,l2-sp_alpha=0.001_beta=0.0001_lr_0=0.1_n=1000_...,1000,1001,0.8939,0.410627
4,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=1000_ra...,1000,2001,0.8836,0.390025
5,l2-sp,l2-sp_alpha=0.01_beta=0.001_lr_0=0.1_n=1000_ra...,1000,3001,0.8830,0.396594
6,l2-sp,l2-sp_alpha=0.001_beta=0.001_lr_0=0.1_n=10000_...,10000,1001,0.9533,0.157821
7,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=10000_r...,10000,2001,0.9539,0.154652
8,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=10000_r...,10000,3001,0.9555,0.150124
9,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=50000_r...,50000,1001,0.9720,0.092658
10,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=50000_r...,50000,2001,0.9739,0.085000
11,l2-sp,l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=50000_r...,50000,3001,0.9718,0.087222

In [13]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,100,(l2-sp_alpha=0.001_beta=0.001_lr_0=0.001_n=100...,"(1001, 2001, 3001)","(0.6891000270843506, 0.6588999032974243, 0.722...","(0.9369944179534914, 1.022274973869324, 0.8533...",0.690267,0.026100,0.6589,0.7228,0.937537,0.068968,0.853342,1.022275
1,l2-sp,1000,(l2-sp_alpha=0.001_beta=0.0001_lr_0=0.1_n=1000...,"(1001, 2001, 3001)","(0.8939000368118286, 0.8835999965667725, 0.882...","(0.4106269568443298, 0.3900250916481017, 0.396...",0.886833,0.005003,0.8830,0.8939,0.399082,0.008593,0.390025,0.410627
2,l2-sp,10000,(l2-sp_alpha=0.001_beta=0.001_lr_0=0.1_n=10000...,"(1001, 2001, 3001)","(0.9533000588417052, 0.9538999795913696, 0.955...","(0.1578208662092684, 0.1546521729946136, 0.150...",0.954233,0.000929,0.9533,0.9555,0.154199,0.003158,0.150124,0.157821
3,l2-sp,50000,(l2-sp_alpha=0.001_beta=0.01_lr_0=0.1_n=50000_...,"(1001, 2001, 3001)","(0.9720000624656676, 0.9738999605178832, 0.971...","(0.0926579918861388, 0.0849999605417251, 0.087...",0.972567,0.000946,0.9718,0.9739,0.088293,0.003217,0.085000,0.092658

In [14]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp    100       0.690267        0.6589        0.7228
1     l2-sp   1000       0.886833        0.8830        0.8939
2     l2-sp  10000       0.954233        0.9533        0.9555
3     l2-sp  50000       0.972567        0.9718        0.9739

In [15]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp    100       0.937537      0.853342      1.022275
1     l2-sp   1000       0.399082      0.390025      0.410627
2     l2-sp  10000       0.154199      0.150124      0.157821
3     l2-sp  50000       0.088293      0.085000      0.092658

In [16]:
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'ptyl'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10_SSL'
lambds = np.logspace(start=0, stop=9, num=10)
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'val_acc', 'val_nll']
tuned_df = pd.DataFrame(columns=columns)

count = -1
for beta, lambd, lr_0, n, random_state in itertools.product(betas, lambds, lr_0s, ns, random_states):
    model_name = f'{criterion}_beta={beta}_lambd={lambd}_lr_0={lr_0}_n={n}_random_state={random_state}'
    temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
    row = [criterion, model_name, n, random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
    tuned_df.loc[len(tuned_df)] = row
    
min_indices = tuned_df.groupby(['criterion', 'n', 'random_state'])['val_nll'].idxmin()
tuned_df = tuned_df.loc[min_indices]

experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_SSL'

columns = ['criterion', 'model_name', 'n', 'random_state', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for index, row in tuned_df.iterrows():
    if os.path.exists(f'{experiments_directory}/{row.model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{row.model_name}.csv')
        row = [row.criterion, row.model_name, row.n, row.random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row

retrained_df

,criterion,model_name,n,random_state,test_acc,test_nll
0,ptyl,ptyl_beta=1e-05_lambd=1.0_lr_0=0.01_n=100_rand...,100,1001,0.5709,1.401571
1,ptyl,ptyl_beta=0.001_lambd=1.0_lr_0=0.1_n=100_rando...,100,2001,0.6108,1.197487
2,ptyl,ptyl_beta=1e-05_lambd=1000.0_lr_0=0.001_n=100_...,100,3001,0.5569,1.410695
3,ptyl,ptyl_beta=1e-06_lambd=1.0_lr_0=0.1_n=1000_rand...,1000,1001,0.8637,0.487678
4,ptyl,ptyl_beta=1e-05_lambd=1.0_lr_0=0.1_n=1000_rand...,1000,2001,0.8634,0.505643
5,ptyl,ptyl_beta=0.0001_lambd=1.0_lr_0=0.1_n=1000_ran...,1000,3001,0.8621,0.516766
6,ptyl,ptyl_beta=0.001_lambd=1.0_lr_0=0.1_n=10000_ran...,10000,1001,0.9371,0.218758
7,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=10000_rand...,10000,2001,0.9360,0.223864
8,ptyl,ptyl_beta=0.001_lambd=1.0_lr_0=0.1_n=10000_ran...,10000,3001,0.9344,0.242136
9,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.01_n=50000_ran...,50000,1001,0.9684,0.114810
10,ptyl,ptyl_beta=0.01_lambd=100.0_lr_0=0.01_n=50000_r...,50000,2001,0.9658,0.112981
11,ptyl,ptyl_beta=0.01_lambd=10000000.0_lr_0=0.01_n=50...,50000,3001,0.9690,0.112933

In [17]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,100,(ptyl_beta=1e-05_lambd=1.0_lr_0=0.01_n=100_ran...,"(1001, 2001, 3001)","(0.570900022983551, 0.61080002784729, 0.556900...","(1.4015710836410524, 1.1974870056152342, 1.410...",0.579533,0.022836,0.5569,0.6108,1.336584,0.098427,1.197487,1.410695
1,ptyl,1000,(ptyl_beta=1e-06_lambd=1.0_lr_0=0.1_n=1000_ran...,"(1001, 2001, 3001)","(0.8637000322341919, 0.8633999824523926, 0.862...","(0.4876775226593018, 0.5056429102897644, 0.516...",0.863067,0.000694,0.8621,0.8637,0.503362,0.011984,0.487678,0.516766
2,ptyl,10000,(ptyl_beta=0.001_lambd=1.0_lr_0=0.1_n=10000_ra...,"(1001, 2001, 3001)","(0.9370999932289124, 0.9359999895095824, 0.934...","(0.2187583981990813, 0.2238637113571167, 0.242...",0.935833,0.001109,0.9344,0.9371,0.228253,0.010036,0.218758,0.242136
3,ptyl,50000,(ptyl_beta=0.01_lambd=1.0_lr_0=0.01_n=50000_ra...,"(1001, 2001, 3001)","(0.968399941921234, 0.9657999277114868, 0.9689...","(0.1148096669912338, 0.1129812270641327, 0.112...",0.967733,0.001389,0.9658,0.9690,0.113575,0.000874,0.112933,0.114810

In [18]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl    100       0.579533        0.5569        0.6108
1      ptyl   1000       0.863067        0.8621        0.8637
2      ptyl  10000       0.935833        0.9344        0.9371
3      ptyl  50000       0.967733        0.9658        0.9690

In [19]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl    100       1.336584      1.197487      1.410695
1      ptyl   1000       0.503362      0.487678      0.516766
2      ptyl  10000       0.228253      0.218758      0.242136
3      ptyl  50000       0.113575      0.112933      0.114810

In [20]:
betas = [0.01, 0.001, 0.0001, 1e-05, 1e-06, 0.0]
criterion = 'ptyl'
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/tuned_CIFAR-10'
lambds = np.logspace(start=0, stop=9, num=10)
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'val_acc', 'val_nll']
tuned_df = pd.DataFrame(columns=columns)

count = -1
for beta, lambd, lr_0, n, random_state in itertools.product(betas, lambds, lr_0s, ns, random_states):
    model_name = f'{criterion}_beta={beta}_lambd={lambd}_lr_0={lr_0}_n={n}_random_state={random_state}'
    temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
    row = [criterion, model_name, n, random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
    tuned_df.loc[len(tuned_df)] = row
    
min_indices = tuned_df.groupby(['criterion', 'n', 'random_state'])['val_nll'].idxmin()
tuned_df = tuned_df.loc[min_indices]

experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10'

columns = ['criterion', 'model_name', 'n', 'random_state', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for index, row in tuned_df.iterrows():
    if os.path.exists(f'{experiments_directory}/{row.model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{row.model_name}.csv')
        row = [row.criterion, row.model_name, row.n, row.random_state, temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row

retrained_df

,criterion,model_name,n,random_state,test_acc,test_nll
0,ptyl,ptyl_beta=0.0_lambd=10.0_lr_0=0.001_n=100_rand...,100,1001,0.6920,0.935029
1,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.01_n=100_rando...,100,2001,0.6960,0.912352
2,ptyl,ptyl_beta=0.001_lambd=10.0_lr_0=0.1_n=100_rand...,100,3001,0.7138,0.866968
3,ptyl,ptyl_beta=0.001_lambd=10.0_lr_0=0.1_n=1000_ran...,1000,1001,0.9025,0.338868
4,ptyl,ptyl_beta=0.001_lambd=10.0_lr_0=0.1_n=1000_ran...,1000,2001,0.8956,0.363368
5,ptyl,ptyl_beta=0.001_lambd=10.0_lr_0=0.1_n=1000_ran...,1000,3001,0.8947,0.365318
6,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=10000_rand...,10000,1001,0.9578,0.139635
7,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=10000_rand...,10000,2001,0.9545,0.155638
8,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=10000_rand...,10000,3001,0.9556,0.142902
9,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=50000_rand...,50000,1001,0.9700,0.096795
10,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=50000_rand...,50000,2001,0.9675,0.103428
11,ptyl,ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=50000_rand...,50000,3001,0.9721,0.097776

In [21]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,100,(ptyl_beta=0.0_lambd=10.0_lr_0=0.001_n=100_ran...,"(1001, 2001, 3001)","(0.6919999718666077, 0.6959999799728394, 0.713...","(0.9350289110183716, 0.912351915550232, 0.8669...",0.700600,0.009476,0.6920,0.7138,0.904783,0.028296,0.866968,0.935029
1,ptyl,1000,(ptyl_beta=0.001_lambd=10.0_lr_0=0.1_n=1000_ra...,"(1001, 2001, 3001)","(0.9025000333786012, 0.8955999612808228, 0.894...","(0.3388682183265687, 0.3633676978826524, 0.365...",0.897600,0.003484,0.8947,0.9025,0.355851,0.012035,0.338868,0.365318
2,ptyl,10000,(ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=10000_ran...,"(1001, 2001, 3001)","(0.9577999711036682, 0.9545000195503236, 0.955...","(0.1396347767114639, 0.1556378710985183, 0.142...",0.955967,0.001372,0.9545,0.9578,0.146058,0.006904,0.139635,0.155638
3,ptyl,50000,(ptyl_beta=0.01_lambd=1.0_lr_0=0.1_n=50000_ran...,"(1001, 2001, 3001)","(0.9700000286102296, 0.9675000309944152, 0.972...","(0.0967950084924697, 0.1034276438713074, 0.097...",0.969867,0.001880,0.9675,0.9721,0.099333,0.002923,0.096795,0.103428

In [22]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl    100       0.700600        0.6920        0.7138
1      ptyl   1000       0.897600        0.8947        0.9025
2      ptyl  10000       0.955967        0.9545        0.9578
3      ptyl  50000       0.969867        0.9675        0.9721

In [23]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl    100       0.904783      0.866968      0.935029
1      ptyl   1000       0.355851      0.338868      0.365318
2      ptyl  10000       0.146058      0.139635      0.155638
3      ptyl  50000       0.099333      0.096795      0.103428