In [1]:
import os
import math
import itertools
import numpy as np
import pandas as pd

In [2]:
def check_epochs(df, n, batch_size=128, steps=6000):
    num_batches = math.floor(n/batch_size)
    epochs = int(steps/num_batches)
    if df.shape[0] == epochs:
        return True
    else:
        return False

In [3]:
criterion = 'l2-zero'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'linear_probing_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [4]:
criterion = 'l2-zero'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [5]:
criterion = 'l2-sp'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [6]:
criterion = 'ptyl'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_SSL_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
prior_directory = '/cluster/tufts/hugheslab/eharve06/resnet50_ssl_prior'
prior_type = 'resnet50_ssl_prior'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

-1

In [7]:
criterion = 'ptyl'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [8]:
criterion = 'l2-sp'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_ViT_B_16_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ViT-B/16'
ns = [100, 1000, 10000, 50000]
prior_directory = '/cluster/tufts/hugheslab/eharve06/vit_b_16_torchvision'
prior_type = 'vit_b_16_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

-1

In [9]:
criterion = 'l2-sp'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_ConvNeXt_Tiny_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ConvNeXt_Tiny'
ns = [100, 1000, 10000, 50000]
prior_directory = '/cluster/tufts/hugheslab/eharve06/convnext_tiny_torchvision'
prior_type = 'convnext_tiny_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_CIFAR-10.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

-1

In [10]:
criterion = 'linear_probing'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
12,linear_probing,linear_probing_kappa=235285.22_lr_0=0.01_n=100...,100,1001,1.738016e+04,0.5809,2.743705
13,linear_probing,linear_probing_kappa=235285.22_lr_0=0.01_n=100...,100,2001,1.316633e+04,0.5723,2.827017
14,linear_probing,linear_probing_kappa=235285.22_lr_0=0.01_n=100...,100,3001,1.156800e+04,0.5870,2.694819
3,linear_probing,linear_probing_kappa=23528.522_lr_0=0.1_n=1000...,1000,1001,4.843905e+05,0.7342,1.168182
4,linear_probing,linear_probing_kappa=23528.522_lr_0=0.1_n=1000...,1000,2001,3.919258e+05,0.7392,1.136576
5,linear_probing,linear_probing_kappa=23528.522_lr_0=0.1_n=1000...,1000,3001,3.273191e+05,0.7339,1.227572
6,linear_probing,linear_probing_kappa=2352.8522_lr_0=0.1_n=1000...,10000,1001,7.130073e+06,0.8170,0.544828
7,linear_probing,linear_probing_kappa=2352.8522_lr_0=0.1_n=1000...,10000,2001,7.772654e+06,0.8147,0.550522
8,linear_probing,linear_probing_kappa=2352.8522_lr_0=0.1_n=1000...,10000,3001,7.509789e+06,0.8161,0.552257
9,linear_probing,linear_probing_kappa=470.57044_lr_0=0.1_n=5000...,50000,1001,1.004797e+07,0.8319,0.483986
10,linear_probing,linear_probing_kappa=470.57044_lr_0=0.1_n=5000...,50000,2001,1.005023e+07,0.8328,0.483789
11,linear_probing,linear_probing_kappa=470.57044_lr_0=0.1_n=5000...,50000,3001,1.006713e+07,0.8303,0.483646

In [11]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,linear_probing,100,(linear_probing_kappa=235285.22_lr_0=0.01_n=10...,"(1001, 2001, 3001)","(17380.15947265625, 13166.33486328125, 11567.9...","(0.5809000134468079, 0.5723000168800354, 0.586...","(2.743705195617676, 2.827017317962646, 2.69481...",0.580067,0.006030,0.5723,0.5870,2.755181,0.054576,2.694819,2.827017
1,linear_probing,1000,(linear_probing_kappa=23528.522_lr_0=0.1_n=100...,"(1001, 2001, 3001)","(484390.51025, 391925.773525, 327319.09215000004)","(0.7341999411582947, 0.7391999959945679, 0.733...","(1.1681818738937373, 1.1365763016700745, 1.227...",0.735767,0.002431,0.7339,0.7392,1.177444,0.037722,1.136576,1.227572
2,linear_probing,10000,(linear_probing_kappa=2352.8522_lr_0=0.1_n=100...,"(1001, 2001, 3001)","(7130072.9221600015, 7772653.566120001, 750978...","(0.8170000314712524, 0.8146999478340149, 0.816...","(0.5448277116775512, 0.5505224902153015, 0.552...",0.815933,0.000946,0.8147,0.8170,0.549202,0.003173,0.544828,0.552257
3,linear_probing,50000,(linear_probing_kappa=470.57044_lr_0=0.1_n=500...,"(1001, 2001, 3001)","(10047971.429248, 10050234.521856, 10067126.67...","(0.8319000005722046, 0.8327999711036682, 0.830...","(0.4839855972290038, 0.483789116859436, 0.4836...",0.831667,0.001034,0.8303,0.8328,0.483807,0.000139,0.483646,0.483986

In [12]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

        criterion      n  test_acc_mean  test_acc_min  test_acc_max
0  linear_probing    100       0.580067        0.5723        0.5870
1  linear_probing   1000       0.735767        0.7339        0.7392
2  linear_probing  10000       0.815933        0.8147        0.8170
3  linear_probing  50000       0.831667        0.8303        0.8328

In [13]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

        criterion      n  test_nll_mean  test_nll_min  test_nll_max
0  linear_probing    100       2.755181      2.694819      2.827017
1  linear_probing   1000       1.177444      1.136576      1.227572
2  linear_probing  10000       0.549202      0.544828      0.552257
3  linear_probing  50000       0.483807      0.483646      0.483986

In [14]:
criterion = 'l2-zero'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
24,l2-zero,l2-zero_kappa=235285.22_lr_0=0.001_n=100_rando...,100,1001,7.987484e+07,0.6247,2.735646
25,l2-zero,l2-zero_kappa=235285.22_lr_0=0.001_n=100_rando...,100,2001,7.280507e+07,0.6071,2.880208
26,l2-zero,l2-zero_kappa=235285.22_lr_0=0.001_n=100_rando...,100,3001,6.520396e+07,0.6330,2.499837
27,l2-zero,l2-zero_kappa=23528.522_lr_0=0.001_n=1000_rand...,1000,1001,4.998312e+07,0.8765,0.502714
28,l2-zero,l2-zero_kappa=23528.522_lr_0=0.001_n=1000_rand...,1000,2001,4.782618e+07,0.8737,0.533140
29,l2-zero,l2-zero_kappa=23528.522_lr_0=0.001_n=1000_rand...,1000,3001,4.705157e+07,0.8692,0.550950
6,l2-zero,l2-zero_kappa=2352.8522_lr_0=0.1_n=10000_rando...,10000,1001,4.266812e+07,0.9025,0.693176
31,l2-zero,l2-zero_kappa=2352.8522_lr_0=0.001_n=10000_ran...,10000,2001,4.277857e+07,0.9088,0.288749
32,l2-zero,l2-zero_kappa=2352.8522_lr_0=0.001_n=10000_ran...,10000,3001,4.300660e+07,0.9160,0.260938
9,l2-zero,l2-zero_kappa=470.57044_lr_0=0.1_n=50000_rando...,50000,1001,3.442958e+07,0.9326,0.274340
10,l2-zero,l2-zero_kappa=470.57044_lr_0=0.1_n=50000_rando...,50000,2001,3.337915e+07,0.9269,0.313323
11,l2-zero,l2-zero_kappa=470.57044_lr_0=0.1_n=50000_rando...,50000,3001,3.459465e+07,0.9294,0.295894

In [15]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-zero,100,(l2-zero_kappa=235285.22_lr_0=0.001_n=100_rand...,"(1001, 2001, 3001)","(79874842.4, 72805072.0, 65203962.0)","(0.6247000098228455, 0.6071000099182129, 0.632...","(2.7356458805084243, 2.88020813217163, 2.49983...",0.621600,0.010798,0.6071,0.6330,2.705230,0.156768,2.499837,2.880208
1,l2-zero,1000,(l2-zero_kappa=23528.522_lr_0=0.001_n=1000_ran...,"(1001, 2001, 3001)","(49983119.6512, 47826175.47840001, 47051569.03...","(0.8764999508857727, 0.8737000226974487, 0.869...","(0.5027143522262574, 0.5331401852130888, 0.550...",0.873133,0.003007,0.8692,0.8765,0.528935,0.019915,0.502714,0.550950
2,l2-zero,10000,(l2-zero_kappa=2352.8522_lr_0=0.1_n=10000_rand...,"(1001, 2001, 3001)","(42668122.14016, 42778572.83968, 43006599.5516...","(0.9025000333786012, 0.908799946308136, 0.9159...","(0.6931758224487305, 0.288748571395874, 0.2609...",0.909100,0.005515,0.9025,0.9160,0.414287,0.197531,0.260938,0.693176
3,l2-zero,50000,(l2-zero_kappa=470.57044_lr_0=0.1_n=50000_rand...,"(1001, 2001, 3001)","(34429582.60281599, 33379151.891328, 34594649....","(0.9326000213623048, 0.926900029182434, 0.9294...","(0.2743397240638733, 0.313322682571411, 0.2958...",0.929633,0.002333,0.9269,0.9326,0.294519,0.015944,0.274340,0.313323

In [16]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0   l2-zero    100       0.621600        0.6071        0.6330
1   l2-zero   1000       0.873133        0.8692        0.8765
2   l2-zero  10000       0.909100        0.9025        0.9160
3   l2-zero  50000       0.929633        0.9269        0.9326

In [17]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0   l2-zero    100       2.705230      2.499837      2.880208
1   l2-zero   1000       0.528935      0.502714      0.550950
2   l2-zero  10000       0.414287      0.260938      0.693176
3   l2-zero  50000       0.294519      0.274340      0.313323

In [18]:
criterion = 'l2-sp'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
24,l2-sp,l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_...,100,1001,1.241041e+05,0.7014,0.959640
25,l2-sp,l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_...,100,2001,8.450325e+05,0.6862,1.191830
26,l2-sp,l2-sp_kappa=235285.22_lr_0=0.001_n=100_random_...,100,3001,5.003831e+05,0.7308,0.959388
27,l2-sp,l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random...,1000,1001,8.081569e+05,0.8739,0.388796
28,l2-sp,l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random...,1000,2001,8.745489e+05,0.8741,0.393274
29,l2-sp,l2-sp_kappa=23528.522_lr_0=0.001_n=1000_random...,1000,3001,6.726705e+05,0.8707,0.415737
18,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,1001,3.185813e+06,0.9520,0.265158
19,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,2001,3.204540e+06,0.9486,0.271640
20,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,3001,3.308029e+06,0.9518,0.251166
21,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,1001,1.335702e+06,0.9668,0.118539
22,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,2001,1.317316e+06,0.9680,0.117079
23,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,3001,1.376302e+06,0.9684,0.117263

In [19]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,100,(l2-sp_kappa=235285.22_lr_0=0.001_n=100_random...,"(1001, 2001, 3001)","(124104.14453125, 845032.540625, 500383.1265625)","(0.7013999223709106, 0.686199963092804, 0.7307...","(0.9596395552635189, 1.1918302837371828, 0.959...",0.706133,0.018513,0.6862,0.7308,1.036952,0.109515,0.959388,1.191830
1,l2-sp,1000,(l2-sp_kappa=23528.522_lr_0=0.001_n=1000_rando...,"(1001, 2001, 3001)","(808156.87625, 874548.9052500001, 672670.52235)","(0.8739000558853149, 0.8741000890731812, 0.870...","(0.3887957679271697, 0.3932742968320848, 0.415...",0.872900,0.001558,0.8707,0.8741,0.399269,0.011787,0.388796,0.415737
2,l2-sp,10000,(l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_rando...,"(1001, 2001, 3001)","(3185813.24429, 3204539.9258825006, 3308028.86...","(0.9519999623298644, 0.9485999941825868, 0.951...","(0.2651579506158829, 0.2716404716730118, 0.251...",0.950800,0.001558,0.9486,0.9520,0.262655,0.008544,0.251166,0.271640
3,l2-sp,50000,(l2-sp_kappa=470.57044_lr_0=0.01_n=50000_rando...,"(1001, 2001, 3001)","(1335701.8375400002, 1317316.1449280002, 13763...","(0.9667999744415284, 0.968000054359436, 0.9684...","(0.1185388689756393, 0.1170789777755737, 0.117...",0.967733,0.000680,0.9668,0.9684,0.117627,0.000649,0.117079,0.118539

In [20]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp    100       0.706133        0.6862        0.7308
1     l2-sp   1000       0.872900        0.8707        0.8741
2     l2-sp  10000       0.950800        0.9486        0.9520
3     l2-sp  50000       0.967733        0.9668        0.9684

In [21]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp    100       1.036952      0.959388      1.191830
1     l2-sp   1000       0.399269      0.388796      0.415737
2     l2-sp  10000       0.262655      0.251166      0.271640
3     l2-sp  50000       0.117627      0.117079      0.118539

In [22]:
criterion = 'ptyl'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_SSL_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
36,ptyl,ptyl_kappa=235285.22_lr_0=0.0001_n=100_random_...,100,1001,2.592479e+07,0.6050,1.551445
37,ptyl,ptyl_kappa=235285.22_lr_0=0.0001_n=100_random_...,100,2001,2.472794e+07,0.6070,1.507268
38,ptyl,ptyl_kappa=235285.22_lr_0=0.0001_n=100_random_...,100,3001,2.250617e+07,0.5953,1.463025
27,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,1001,1.597296e+06,0.7814,0.763501
28,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,2001,1.431025e+06,0.7754,0.787477
29,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,3001,1.438243e+06,0.7876,0.782926
30,ptyl,ptyl_kappa=2352.8522_lr_0=0.001_n=10000_random...,10000,1001,6.385574e+06,0.9029,0.307471
31,ptyl,ptyl_kappa=2352.8522_lr_0=0.001_n=10000_random...,10000,2001,6.317718e+06,0.9068,0.291742
32,ptyl,ptyl_kappa=2352.8522_lr_0=0.001_n=10000_random...,10000,3001,5.856593e+06,0.9075,0.285636
21,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,1001,6.872749e+06,0.9670,0.116459
22,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,2001,6.687714e+06,0.9673,0.114500
23,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,3001,6.412031e+06,0.9661,0.118628

In [23]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,100,(ptyl_kappa=235285.22_lr_0=0.0001_n=100_random...,"(1001, 2001, 3001)","(25924794.0, 24727941.2, 22506166.0)","(0.6050000190734863, 0.6069999933242798, 0.595...","(1.5514447090148926, 1.5072678478240962, 1.463...",0.602433,0.005110,0.5953,0.6070,1.507246,0.036097,1.463025,1.551445
1,ptyl,1000,(ptyl_kappa=23528.522_lr_0=0.001_n=1000_random...,"(1001, 2001, 3001)","(1597295.64135, 1431024.79685, 1438242.6671)","(0.7814000248908997, 0.7754001021385193, 0.787...","(0.7635006882667545, 0.7874768589019774, 0.782...",0.781467,0.004981,0.7754,0.7876,0.777968,0.010397,0.763501,0.787477
2,ptyl,10000,(ptyl_kappa=2352.8522_lr_0=0.001_n=10000_rando...,"(1001, 2001, 3001)","(6385573.60036, 6317717.84568, 5856592.630039999)","(0.902899980545044, 0.9067999720573424, 0.9074...","(0.3074707009315491, 0.2917423649787903, 0.285...",0.905733,0.002024,0.9029,0.9075,0.294950,0.009198,0.285636,0.307471
3,ptyl,50000,(ptyl_kappa=470.57044_lr_0=0.01_n=50000_random...,"(1001, 2001, 3001)","(6872749.156728001, 6687714.023768, 6412031.04...","(0.9670000076293944, 0.9672999978065492, 0.966...","(0.1164585856437682, 0.1145001266479492, 0.118...",0.966800,0.000510,0.9661,0.9673,0.116529,0.001686,0.114500,0.118628

In [24]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl    100       0.602433        0.5953        0.6070
1      ptyl   1000       0.781467        0.7754        0.7876
2      ptyl  10000       0.905733        0.9029        0.9075
3      ptyl  50000       0.966800        0.9661        0.9673

In [25]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl    100       1.507246      1.463025      1.551445
1      ptyl   1000       0.777968      0.763501      0.787477
2      ptyl  10000       0.294950      0.285636      0.307471
3      ptyl  50000       0.116529      0.114500      0.118628

In [26]:
criterion = 'ptyl'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
24,ptyl,ptyl_kappa=235285.22_lr_0=0.001_n=100_random_s...,100,1001,1.164340e+05,0.6974,0.989701
25,ptyl,ptyl_kappa=235285.22_lr_0=0.001_n=100_random_s...,100,2001,8.470050e+05,0.6857,1.192234
26,ptyl,ptyl_kappa=235285.22_lr_0=0.001_n=100_random_s...,100,3001,4.734726e+05,0.7310,0.957618
27,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,1001,8.184627e+05,0.8753,0.387852
28,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,2001,7.611993e+05,0.8730,0.397584
29,ptyl,ptyl_kappa=23528.522_lr_0=0.001_n=1000_random_...,1000,3001,6.584999e+05,0.8709,0.415511
18,ptyl,ptyl_kappa=2352.8522_lr_0=0.01_n=10000_random_...,10000,1001,3.030512e+06,0.9501,0.255271
19,ptyl,ptyl_kappa=2352.8522_lr_0=0.01_n=10000_random_...,10000,2001,3.195753e+06,0.9480,0.279246
20,ptyl,ptyl_kappa=2352.8522_lr_0=0.01_n=10000_random_...,10000,3001,3.219495e+06,0.9530,0.250510
21,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,1001,1.312191e+06,0.9672,0.120371
22,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,2001,1.290469e+06,0.9684,0.119934
23,ptyl,ptyl_kappa=470.57044_lr_0=0.01_n=50000_random_...,50000,3001,1.371019e+06,0.9680,0.120479

In [27]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,100,(ptyl_kappa=235285.22_lr_0=0.001_n=100_random_...,"(1001, 2001, 3001)","(116434.0015625, 847005.0390625, 473472.5703125)","(0.6974000334739685, 0.6857000589370728, 0.731...","(0.9897008886337282, 1.1922336833953855, 0.957...",0.704700,0.019200,0.6857,0.7310,1.046517,0.103866,0.957618,1.192234
1,ptyl,1000,(ptyl_kappa=23528.522_lr_0=0.001_n=1000_random...,"(1001, 2001, 3001)","(818462.7383999999, 761199.2545, 658499.8637)","(0.8753000497817993, 0.8729999661445618, 0.870...","(0.3878521335601806, 0.3975842832326889, 0.415...",0.873067,0.001797,0.8709,0.8753,0.400316,0.011456,0.387852,0.415511
2,ptyl,10000,(ptyl_kappa=2352.8522_lr_0=0.01_n=10000_random...,"(1001, 2001, 3001)","(3030512.15849, 3195753.482, 3219494.8240875)","(0.9501000642776488, 0.9480000138282776, 0.953...","(0.2552711465358733, 0.2792461663246156, 0.250...",0.950367,0.002050,0.9480,0.9530,0.261676,0.012575,0.250510,0.279246
3,ptyl,50000,(ptyl_kappa=470.57044_lr_0=0.01_n=50000_random...,"(1001, 2001, 3001)","(1312191.0982160005, 1290469.4898860003, 13710...","(0.967199981212616, 0.968399941921234, 0.96799...","(0.1203705894708633, 0.119934031355381, 0.1204...",0.967867,0.000499,0.9672,0.9684,0.120261,0.000236,0.119934,0.120479

In [28]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl    100       0.704700        0.6857        0.7310
1      ptyl   1000       0.873067        0.8709        0.8753
2      ptyl  10000       0.950367        0.9480        0.9530
3      ptyl  50000       0.967867        0.9672        0.9684

In [29]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl    100       1.046517      0.957618      1.192234
1      ptyl   1000       0.400316      0.387852      0.415511
2      ptyl  10000       0.261676      0.250510      0.279246
3      ptyl  50000       0.120261      0.119934      0.120479

In [30]:
criterion = 'l2-sp'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_ViT_B_16_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
12,l2-sp,l2-sp_kappa=235285.22_lr_0=0.01_n=100_random_s...,100,1001,15943.022363,0.8867,0.539822
13,l2-sp,l2-sp_kappa=235285.22_lr_0=0.01_n=100_random_s...,100,2001,16500.465039,0.8841,0.552123
14,l2-sp,l2-sp_kappa=235285.22_lr_0=0.01_n=100_random_s...,100,3001,16564.069336,0.8998,0.445883
15,l2-sp,l2-sp_kappa=23528.522_lr_0=0.01_n=1000_random_...,1000,1001,36693.619969,0.9486,0.283899
16,l2-sp,l2-sp_kappa=23528.522_lr_0=0.01_n=1000_random_...,1000,2001,53694.132716,0.9475,0.290950
17,l2-sp,l2-sp_kappa=23528.522_lr_0=0.01_n=1000_random_...,1000,3001,31637.375100,0.9501,0.294825
18,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,1001,104032.562866,0.9727,0.153729
19,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,2001,119562.876028,0.9705,0.160986
20,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,3001,100821.074096,0.9707,0.158264
21,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,1001,305953.701677,0.9813,0.076644
22,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,2001,288760.880739,0.9799,0.077089
23,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,3001,298089.076285,0.9819,0.076663

In [31]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,100,(l2-sp_kappa=235285.22_lr_0=0.01_n=100_random_...,"(1001, 2001, 3001)","(15943.02236328125, 16500.4650390625, 16564.06...","(0.8867000341415405, 0.8840999603271484, 0.899...","(0.5398217146396637, 0.5521233953475954, 0.445...",0.890200,0.006871,0.8841,0.8998,0.512609,0.047449,0.445883,0.552123
1,l2-sp,1000,(l2-sp_kappa=23528.522_lr_0=0.01_n=1000_random...,"(1001, 2001, 3001)","(36693.619968750005, 53694.132715625004, 31637...","(0.948599934577942, 0.9474999904632568, 0.9501...","(0.283899201130867, 0.2909504699807615, 0.2948...",0.948733,0.001066,0.9475,0.9501,0.289892,0.004523,0.283899,0.294825
2,l2-sp,10000,(l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_rando...,"(1001, 2001, 3001)","(104032.56286625002, 119562.87602750002, 10082...","(0.9726998805999756, 0.9704999923706056, 0.970...","(0.1537291064858436, 0.160985582847055, 0.1582...",0.971300,0.000993,0.9705,0.9727,0.157660,0.002993,0.153729,0.160986
3,l2-sp,50000,(l2-sp_kappa=470.57044_lr_0=0.01_n=50000_rando...,"(1001, 2001, 3001)","(305953.70167700003, 288760.88073949993, 29808...","(0.9812999963760376, 0.979900062084198, 0.9819...","(0.0766443332567811, 0.0770885908521712, 0.076...",0.981033,0.000838,0.9799,0.9819,0.076799,0.000205,0.076644,0.077089

In [32]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp    100       0.890200        0.8841        0.8998
1     l2-sp   1000       0.948733        0.9475        0.9501
2     l2-sp  10000       0.971300        0.9705        0.9727
3     l2-sp  50000       0.981033        0.9799        0.9819

In [33]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp    100       0.512609      0.445883      0.552123
1     l2-sp   1000       0.289892      0.283899      0.294825
2     l2-sp  10000       0.157660      0.153729      0.160986
3     l2-sp  50000       0.076799      0.076644      0.077089

In [34]:
criterion = 'l2-sp'
d = 23528522
dataset_directory = '/cluster/tufts/hugheslab/eharve06/CIFAR-10'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_CIFAR-10_ConvNeXt_Tiny_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [100, 1000, 10000, 50000]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
12,l2-sp,l2-sp_kappa=235285.22_lr_0=0.01_n=100_random_s...,100,1001,21085.196484,0.8304,0.833594
13,l2-sp,l2-sp_kappa=235285.22_lr_0=0.01_n=100_random_s...,100,2001,21425.703906,0.8275,0.918357
14,l2-sp,l2-sp_kappa=235285.22_lr_0=0.01_n=100_random_s...,100,3001,22442.280859,0.8394,0.772701
15,l2-sp,l2-sp_kappa=23528.522_lr_0=0.01_n=1000_random_...,1000,1001,53216.973469,0.9444,0.271286
16,l2-sp,l2-sp_kappa=23528.522_lr_0=0.01_n=1000_random_...,1000,2001,58156.191119,0.9412,0.293375
17,l2-sp,l2-sp_kappa=23528.522_lr_0=0.01_n=1000_random_...,1000,3001,52915.337119,0.9413,0.289395
18,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,1001,217485.288635,0.9703,0.113835
19,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,2001,219968.959210,0.9700,0.120060
20,l2-sp,l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_random...,10000,3001,217116.076048,0.9703,0.120806
21,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,1001,861577.475704,0.9778,0.068040
22,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,2001,870090.645715,0.9774,0.068917
23,l2-sp,l2-sp_kappa=470.57044_lr_0=0.01_n=50000_random...,50000,3001,857466.326174,0.9769,0.069605

In [35]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,100,(l2-sp_kappa=235285.22_lr_0=0.01_n=100_random_...,"(1001, 2001, 3001)","(21085.196484375, 21425.70390625, 22442.280859...","(0.8303999900817871, 0.82750004529953, 0.83939...","(0.8335935964584353, 0.9183569931030277, 0.772...",0.832433,0.005066,0.8275,0.8394,0.841551,0.059729,0.772701,0.918357
1,l2-sp,1000,(l2-sp_kappa=23528.522_lr_0=0.01_n=1000_random...,"(1001, 2001, 3001)","(53216.97346875, 58156.19111875, 52915.3371187...","(0.9443999528884888, 0.9411999583244324, 0.941...","(0.2712861206531524, 0.2933746270179749, 0.289...",0.942300,0.001485,0.9412,0.9444,0.284685,0.009613,0.271286,0.293375
2,l2-sp,10000,(l2-sp_kappa=2352.8522_lr_0=0.01_n=10000_rando...,"(1001, 2001, 3001)","(217485.288635, 219968.95921, 217116.0760475)","(0.970300018787384, 0.9699999690055848, 0.9703...","(0.1138347760319709, 0.1200603645861148, 0.120...",0.970200,0.000141,0.9700,0.9703,0.118234,0.003125,0.113835,0.120806
3,l2-sp,50000,(l2-sp_kappa=470.57044_lr_0=0.01_n=50000_rando...,"(1001, 2001, 3001)","(861577.4757040001, 870090.6457150001, 857466....","(0.9778000712394714, 0.9774000644683838, 0.976...","(0.068039626532793, 0.0689171663224697, 0.0696...",0.977367,0.000368,0.9769,0.9778,0.068854,0.000641,0.068040,0.069605

In [36]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion      n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp    100       0.832433        0.8275        0.8394
1     l2-sp   1000       0.942300        0.9412        0.9444
2     l2-sp  10000       0.970200        0.9700        0.9703
3     l2-sp  50000       0.977367        0.9769        0.9778

In [37]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion      n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp    100       0.841551      0.772701      0.918357
1     l2-sp   1000       0.284685      0.271286      0.293375
2     l2-sp  10000       0.118234      0.113835      0.120806
3     l2-sp  50000       0.068854      0.068040      0.069605