In [1]:
import os
import math
import itertools
import numpy as np
import pandas as pd
# PyTorch
import torch
import torchvision

In [2]:
model = torchvision.models.resnet50()
model.fc = torch.nn.Linear(in_features=2048, out_features=37, bias=True)
print(f'd = {len(torch.nn.utils.parameters_to_vector(model.parameters()))}')
model = torchvision.models.vit_b_16()
model.heads = torch.nn.Linear(in_features=768, out_features=37, bias=True)
print(f'd = {len(torch.nn.utils.parameters_to_vector(model.parameters()))}')
model = torchvision.models.convnext_tiny()
model.classifier[2] = torch.nn.Linear(in_features=768, out_features=37, bias=True)
print(f'd = {len(torch.nn.utils.parameters_to_vector(model.parameters()))}')

d = 23583845
d = 85827109
d = 27848581

In [3]:
def check_epochs(df, n, batch_size=128, steps=6000):
    num_batches = math.floor(n/batch_size)
    epochs = int(steps/num_batches)
    if df.shape[0] == epochs:
        return True
    else:
        return False

In [4]:
criterion = 'l2-zero'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'linear_probing_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [5]:
criterion = 'l2-sp'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa=1.0_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa=1.0 --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa=1.0 --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [6]:
criterion = 'l2-zero'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [7]:
criterion = 'l2-sp'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [8]:
criterion = 'ptyl'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_SSL_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
prior_directory = '/cluster/tufts/hugheslab/eharve06/resnet50_ssl_prior'
prior_type = 'resnet50_ssl_prior'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

-1

In [9]:
criterion = 'l2-sp'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ViT-B/16'
ns = [370, 3441]
prior_directory = '/cluster/tufts/hugheslab/eharve06/vit_b_16_torchvision'
prior_type = 'vit_b_16_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

-1

In [10]:
criterion = 'l2-sp'
d = 85827109
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ViT_B_16_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ViT-B/16'
ns = [370, 3441]
prior_directory = '/cluster/tufts/hugheslab/eharve06/vit_b_16_torchvision'
prior_type = 'vit_b_16_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa=1.0_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa=1.0 --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa=1.0 --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

-1

In [11]:
criterion = 'l2-sp'
d = 85827109
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ViT_B_16_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ViT-B/16'
ns = [370, 3441]
prior_directory = '/cluster/tufts/hugheslab/eharve06/vit_b_16_torchvision'
prior_type = 'vit_b_16_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

-1

In [12]:
criterion = 'l2-sp'
d = 27848581
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ConvNeXt_Tiny_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ConvNeXt_Tiny'
ns = [370, 3441]
prior_directory = '/cluster/tufts/hugheslab/eharve06/convnext_tiny_torchvision'
prior_type = 'convnext_tiny_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa=1.0_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa=1.0 --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa=1.0 --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

-1

In [13]:
criterion = 'l2-sp'
d = 27848581
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ConvNeXt_Tiny_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ConvNeXt_Tiny'
ns = [370, 3441]
prior_directory = '/cluster/tufts/hugheslab/eharve06/convnext_tiny_torchvision'
prior_type = 'convnext_tiny_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

-1

In [14]:
criterion = 'linear_probing'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
0,linear_probing,linear_probing_kappa=63740.12162162162_lr_0=0....,370,1001,0.001924,0.858865,0.515189
1,linear_probing,linear_probing_kappa=63740.12162162162_lr_0=0....,370,2001,0.001797,0.849621,0.548700
2,linear_probing,linear_probing_kappa=63740.12162162162_lr_0=0....,370,3001,0.001950,0.858535,0.462097
3,linear_probing,linear_probing_kappa=6853.776518453938_lr_0=0....,3441,1001,0.006482,0.909092,0.390936
4,linear_probing,linear_probing_kappa=6853.776518453938_lr_0=0....,3441,2001,0.006500,0.906040,0.390347
5,linear_probing,linear_probing_kappa=6853.776518453938_lr_0=0....,3441,3001,0.006438,0.906280,0.389872

In [15]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,linear_probing,370,(linear_probing_kappa=63740.12162162162_lr_0=0...,"(1001, 2001, 3001)","(0.0019236473056387, 0.0017973514044707, 0.001...","(0.8588653206825256, 0.8496212959289551, 0.858...","(0.5151892923068436, 0.5486997001281257, 0.462...",0.855674,0.004282,0.849621,0.858865,0.508662,0.035655,0.462097,0.548700
1,linear_probing,3441,(linear_probing_kappa=6853.776518453938_lr_0=0...,"(1001, 2001, 3001)","(0.0064822974723602, 0.0065001478866776, 0.006...","(0.9090915322303772, 0.9060399532318116, 0.906...","(0.3909364342831662, 0.3903473049430666, 0.389...",0.907137,0.001385,0.906040,0.909092,0.390385,0.000435,0.389872,0.390936

In [16]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

        criterion     n  test_acc_mean  test_acc_min  test_acc_max
0  linear_probing   370       0.855674      0.849621      0.858865
1  linear_probing  3441       0.907137      0.906040      0.909092

In [17]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

        criterion     n  test_nll_mean  test_nll_min  test_nll_max
0  linear_probing   370       0.508662      0.462097      0.548700
1  linear_probing  3441       0.390385      0.389872      0.390936

In [4]:
criterion = 'l2-zero'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI_alpha=beta'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
12,l2-zero,l2-zero_kappa=63740.12162162162_lr_0=0.001_n=3...,370,1001,2.783467,0.829390,0.831190
13,l2-zero,l2-zero_kappa=63740.12162162162_lr_0=0.001_n=3...,370,2001,2.951970,0.831117,0.818145
14,l2-zero,l2-zero_kappa=63740.12162162162_lr_0=0.001_n=3...,370,3001,3.050192,0.835935,0.747141
15,l2-zero,l2-zero_kappa=6853.776518453938_lr_0=0.001_n=3...,3441,1001,1.786174,0.919583,0.265426
16,l2-zero,l2-zero_kappa=6853.776518453938_lr_0=0.001_n=3...,3441,2001,1.691520,0.918775,0.264320
17,l2-zero,l2-zero_kappa=6853.776518453938_lr_0=0.001_n=3...,3441,3001,1.787975,0.915784,0.276319

In [5]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-zero,370,(l2-zero_kappa=63740.12162162162_lr_0=0.001_n=...,"(1001, 2001, 3001)","(2.783467480556385, 2.9519702341749863, 3.0501...","(0.8293899297714233, 0.8311172127723694, 0.835...","(0.8311898883144808, 0.8181453058361583, 0.747...",0.832147,0.002769,0.829390,0.835935,0.798825,0.036932,0.747141,0.831190
1,l2-zero,3441,(l2-zero_kappa=6853.776518453938_lr_0=0.001_n=...,"(1001, 2001, 3001)","(1.7861741876990185, 1.6915196944862845, 1.787...","(0.9195826649665833, 0.9187750816345216, 0.915...","(0.2654264272477719, 0.2643201210398738, 0.276...",0.918047,0.001634,0.915784,0.919583,0.268689,0.005415,0.264320,0.276319

In [6]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion     n  test_acc_mean  test_acc_min  test_acc_max
0   l2-zero   370       0.832147      0.829390      0.835935
1   l2-zero  3441       0.918047      0.915784      0.919583

In [7]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion     n  test_nll_mean  test_nll_min  test_nll_max
0   l2-zero   370       0.798825      0.747141      0.831190
1   l2-zero  3441       0.268689      0.264320      0.276319

In [22]:
criterion = 'l2-sp'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
12,l2-sp,l2-sp_kappa=63740.12162162162_lr_0=0.001_n=370...,370,1001,1.147497e+06,0.875091,0.523291
13,l2-sp,l2-sp_kappa=63740.12162162162_lr_0=0.001_n=370...,370,2001,1.400950e+06,0.872381,0.528719
14,l2-sp,l2-sp_kappa=63740.12162162162_lr_0=0.001_n=370...,370,3001,1.111101e+06,0.877600,0.486159
15,l2-sp,l2-sp_kappa=6853.776518453938_lr_0=0.001_n=344...,3441,1001,1.009238e+06,0.929835,0.235586
16,l2-sp,l2-sp_kappa=6853.776518453938_lr_0=0.001_n=344...,3441,2001,9.915351e+05,0.929877,0.239782
17,l2-sp,l2-sp_kappa=6853.776518453938_lr_0=0.001_n=344...,3441,3001,1.010216e+06,0.926619,0.237742

In [23]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,370,(l2-sp_kappa=63740.12162162162_lr_0=0.001_n=37...,"(1001, 2001, 3001)","(1147497.4581756757, 1400949.5521030405, 11111...","(0.8750907182693481, 0.8723805546760559, 0.877...","(0.5232907105394624, 0.5287188172389129, 0.486...",0.875024,0.002131,0.872381,0.877600,0.512723,0.018914,0.486159,0.528719
1,l2-sp,3441,(l2-sp_kappa=6853.776518453938_lr_0=0.001_n=34...,"(1001, 2001, 3001)","(1009238.4966833768, 991535.060778117, 1010215...","(0.9298347234725952, 0.9298765063285828, 0.926...","(0.2355860055719483, 0.2397816774690953, 0.237...",0.928777,0.001526,0.926619,0.929877,0.237703,0.001713,0.235586,0.239782

In [24]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion     n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp   370       0.875024      0.872381      0.877600
1     l2-sp  3441       0.928777      0.926619      0.929877

In [25]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion     n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp   370       0.512723      0.486159      0.528719
1     l2-sp  3441       0.237703      0.235586      0.239782

In [26]:
criterion = 'ptyl'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_SSL_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
12,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.001_n=370_...,370,1001,0.203767,0.565398,1.695000
13,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.001_n=370_...,370,2001,0.162210,0.576532,1.624873
14,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.001_n=370_...,370,3001,0.155322,0.564832,1.703114
15,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.001_n=3441...,3441,1001,0.125629,0.801996,0.665474
16,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.001_n=3441...,3441,2001,0.126197,0.799996,0.675210
17,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.001_n=3441...,3441,3001,0.126324,0.799882,0.686884

In [27]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,370,(ptyl_kappa=63740.12162162162_lr_0=0.001_n=370...,"(1001, 2001, 3001)","(0.2037674375442234, 0.1622099697549601, 0.155...","(0.5653984546661377, 0.5765315890312195, 0.564...","(1.695000341296618, 1.624873455034091, 1.70311...",0.568921,0.005387,0.564832,0.576532,1.674329,0.035127,1.624873,1.703114
1,ptyl,3441,(ptyl_kappa=6853.776518453938_lr_0=0.001_n=344...,"(1001, 2001, 3001)","(0.1256291204160017, 0.1261974236252643, 0.126...","(0.8019959330558777, 0.7999957203865051, 0.799...","(0.6654742210656689, 0.6752098035214544, 0.686...",0.800624,0.000971,0.799882,0.801996,0.675856,0.008752,0.665474,0.686884

In [28]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion     n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl   370       0.568921      0.564832      0.576532
1      ptyl  3441       0.800624      0.799882      0.801996

In [29]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion     n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl   370       1.674329      1.624873      1.703114
1      ptyl  3441       0.675856      0.665474      0.686884

In [30]:
criterion = 'ptyl'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
6,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.01_n=370_r...,370,1001,0.011038,0.883700,0.422429
7,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.01_n=370_r...,370,2001,0.010896,0.880170,0.429474
8,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.01_n=370_r...,370,3001,0.010059,0.884372,0.380588
9,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.01_n=3441_...,3441,1001,0.029367,0.934842,0.300680
10,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.01_n=3441_...,3441,2001,0.028321,0.935396,0.308540
11,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.01_n=3441_...,3441,3001,0.029679,0.933529,0.310682

In [31]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,370,(ptyl_kappa=63740.12162162162_lr_0=0.01_n=370_...,"(1001, 2001, 3001)","(0.011038371962621, 0.0108956773332446, 0.0100...","(0.883699893951416, 0.8801702260971069, 0.8843...","(0.4224285228214966, 0.4294744893079982, 0.380...",0.882747,0.001843,0.880170,0.884372,0.410830,0.021577,0.380588,0.429474
1,ptyl,3441,(ptyl_kappa=6853.776518453938_lr_0=0.01_n=3441...,"(1001, 2001, 3001)","(0.0293669280109169, 0.0283205607833177, 0.029...","(0.934841513633728, 0.935395896434784, 0.93352...","(0.3006802472316641, 0.3085403629520522, 0.310...",0.934589,0.000783,0.933529,0.935396,0.306634,0.004300,0.300680,0.310682

In [32]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion     n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl   370       0.882747      0.880170      0.884372
1      ptyl  3441       0.934589      0.933529      0.935396

In [33]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion     n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl   370       0.410830      0.380588      0.429474
1      ptyl  3441       0.306634      0.300680      0.310682

In [34]:
criterion = 'l2-sp'
d = 85827109
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ViT_B_16_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
6,l2-sp,l2-sp_kappa=231965.15945945945_lr_0=0.01_n=370...,370,1001,0.002223,0.895444,0.375441
7,l2-sp,l2-sp_kappa=231965.15945945945_lr_0=0.01_n=370...,370,2001,0.002246,0.888489,0.393639
8,l2-sp,l2-sp_kappa=231965.15945945945_lr_0=0.01_n=370...,370,3001,0.002237,0.883455,0.423090
9,l2-sp,l2-sp_kappa=24942.490264458007_lr_0=0.01_n=344...,3441,1001,0.002686,0.935601,0.297370
10,l2-sp,l2-sp_kappa=24942.490264458007_lr_0=0.01_n=344...,3441,2001,0.002704,0.935170,0.302336
11,l2-sp,l2-sp_kappa=24942.490264458007_lr_0=0.01_n=344...,3441,3001,0.002676,0.936869,0.310152

In [35]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,370,(l2-sp_kappa=231965.15945945945_lr_0=0.01_n=37...,"(1001, 2001, 3001)","(0.0022227732985708, 0.0022455966780969, 0.002...","(0.8954443335533142, 0.888489305973053, 0.8834...","(0.3754411115745526, 0.3936394783310312, 0.423...",0.889129,0.004916,0.883455,0.895444,0.397390,0.019632,0.375441,0.423090
1,l2-sp,3441,(l2-sp_kappa=24942.490264458007_lr_0=0.01_n=34...,"(1001, 2001, 3001)","(0.0026862384021415, 0.0027044671285257, 0.002...","(0.9356013536453248, 0.93517005443573, 0.93686...","(0.2973702710022746, 0.3023360627629755, 0.310...",0.935880,0.000721,0.935170,0.936869,0.303286,0.005261,0.297370,0.310152

In [36]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion     n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp   370       0.889129      0.883455      0.895444
1     l2-sp  3441       0.935880      0.935170      0.936869

In [37]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion     n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp   370       0.397390      0.375441      0.423090
1     l2-sp  3441       0.303286      0.297370      0.310152

In [38]:
criterion = 'l2-sp'
d = 27848581
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ConvNeXt_Tiny_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
6,l2-sp,l2-sp_kappa=75266.43513513514_lr_0=0.01_n=370_...,370,1001,0.004403,0.907458,0.333457
7,l2-sp,l2-sp_kappa=75266.43513513514_lr_0=0.01_n=370_...,370,2001,0.004350,0.897330,0.361762
8,l2-sp,l2-sp_kappa=75266.43513513514_lr_0=0.01_n=370_...,370,3001,0.004342,0.914780,0.272777
9,l2-sp,l2-sp_kappa=8093.165068294101_lr_0=0.01_n=3441...,3441,1001,0.007556,0.941547,0.215950
10,l2-sp,l2-sp_kappa=8093.165068294101_lr_0=0.01_n=3441...,3441,2001,0.007773,0.942628,0.216863
11,l2-sp,l2-sp_kappa=8093.165068294101_lr_0=0.01_n=3441...,3441,3001,0.007603,0.945178,0.215325

In [39]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,370,(l2-sp_kappa=75266.43513513514_lr_0=0.01_n=370...,"(1001, 2001, 3001)","(0.0044025699318562, 0.0043502504111745, 0.004...","(0.907457709312439, 0.8973296284675598, 0.9147...","(0.3334574603624631, 0.3617617161190617, 0.272...",0.906522,0.007155,0.897330,0.914780,0.322665,0.037121,0.272777,0.361762
1,l2-sp,3441,(l2-sp_kappa=8093.165068294101_lr_0=0.01_n=344...,"(1001, 2001, 3001)","(0.0075556787072722, 0.0077728209883787, 0.007...","(0.941547155380249, 0.9426282644271852, 0.9451...","(0.2159497954245046, 0.2168626867713948, 0.215...",0.943118,0.001522,0.941547,0.945178,0.216046,0.000632,0.215325,0.216863

In [40]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion     n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp   370       0.906522      0.897330      0.914780
1     l2-sp  3441       0.943118      0.941547      0.945178

In [41]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion     n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp   370       0.322665      0.272777      0.361762
1     l2-sp  3441       0.216046      0.215325      0.216863