In [1]:
import os
import math
import itertools
import numpy as np
import pandas as pd

In [2]:
def check_epochs(df, n, batch_size=128, steps=6000):
    num_batches = math.floor(n/batch_size)
    epochs = int(steps/num_batches)
    if df.shape[0] == epochs:
        return True
    else:
        return False

In [3]:
criterion = 'l2-zero'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [4]:
criterion = 'l2-sp'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [5]:
criterion = 'l2-sp'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI_num_samples=5'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --random_state={random_state} --save"')
print(count)

-1

In [6]:
criterion = 'ptyl'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_SSL_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
prior_directory = '/cluster/tufts/hugheslab/eharve06/resnet50_ssl_prior'
prior_type = 'resnet50_ssl_prior'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

-1

In [7]:
criterion = 'l2-sp'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ViT_B_16_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
model_arch = 'ViT-B/16'
ns = [370, 3441]
prior_directory = '/cluster/tufts/hugheslab/eharve06/vit_b_16_torchvision'
prior_type = 'vit_b_16_torchvision'
random_states = [1001, 2001, 3001]

count = -1
for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        if not check_epochs(temp_df, n, batch_size=min(128, n), steps=6000):
            count += 1
            print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
    else:
        count += 1
        print(f'    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion=\'{criterion}\' --dataset_directory=\'{dataset_directory}\' --ELBo --experiments_directory=\'{experiments_directory}\' --kappa={d/n} --lr_0={lr_0} --model_arch=\'{model_arch}\' --model_name=\'{model_name}\' --n={n} --num_workers=0 --prior_directory=\'{prior_directory}\' --prior_type=\'{prior_type}\' --random_state={random_state} --save"')
print(count)

    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ViT_B_16_VI' --kappa=63740.12162162162 --lr_0=0.0001 --model_arch='ViT-B/16' --model_name='l2-sp_kappa=63740.12162162162_lr_0=0.0001_n=370_random_state=3001' --n=370 --num_workers=0 --prior_directory='/cluster/tufts/hugheslab/eharve06/vit_b_16_torchvision' --prior_type='vit_b_16_torchvision' --random_state=3001 --save"
    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ViT_B_16_VI' --kappa=6853.776518453938 --lr_0=0.0001 --model_arch='ViT-B/16' --model_name='l2-sp_kappa=6853.776518453938_lr_0=0.0001_n=3441_random_state=1001' --n=3441 --num_workers=0 --prior_directory='/cluster/tufts/hugheslab/eharve06/vit_b_16_torchvision' --prior_type='vit_b_16_torchvision' --random_state=1001 --save"
    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ViT_B_16_VI' --kappa=6853.776518453938 --lr_0=0.0001 --model_arch='ViT-B/16' --model_name='l2-sp_kappa=6853.776518453938_lr_0=0.0001_n=3441_random_state=2001' --n=3441 --num_workers=0 --prior_directory='/cluster/tufts/hugheslab/eharve06/vit_b_16_torchvision' --prior_type='vit_b_16_torchvision' --random_state=2001 --save"
    "python ../src/main_Oxford-IIIT_Pet.py --batch_size=128 --criterion='l2-sp' --dataset_directory='/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet' --ELBo --experiments_directory='/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ViT_B_16_VI' --kappa=6853.776518453938 --lr_0=0.0001 --model_arch='ViT-B/16' --model_name='l2-sp_kappa=6853.776518453938_lr_0=0.0001_n=3441_random_state=3001' --n=3441 --num_workers=0 --prior_directory='/cluster/tufts/hugheslab/eharve06/vit_b_16_torchvision' --prior_type='vit_b_16_torchvision' --random_state=3001 --save"
3

In [8]:
criterion = 'l2-zero'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
12,l2-zero,l2-zero_kappa=63740.12162162162_lr_0=0.001_n=3...,370,1001,7.232854e+07,0.832223,0.784238
13,l2-zero,l2-zero_kappa=63740.12162162162_lr_0=0.001_n=3...,370,2001,6.961821e+07,0.832937,0.800234
14,l2-zero,l2-zero_kappa=63740.12162162162_lr_0=0.001_n=3...,370,3001,6.774151e+07,0.833443,0.841035
15,l2-zero,l2-zero_kappa=6853.776518453938_lr_0=0.001_n=3...,3441,1001,4.262291e+07,0.916721,0.259633
16,l2-zero,l2-zero_kappa=6853.776518453938_lr_0=0.001_n=3...,3441,2001,4.068012e+07,0.916413,0.277544
17,l2-zero,l2-zero_kappa=6853.776518453938_lr_0=0.001_n=3...,3441,3001,4.330331e+07,0.916167,0.269041

In [9]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-zero,370,(l2-zero_kappa=63740.12162162162_lr_0=0.001_n=...,"(1001, 2001, 3001)","(72328542.19891892, 69618208.74594596, 6774150...","(0.8322228193283081, 0.8329368233680725, 0.833...","(0.7842378569302361, 0.8002340441570195, 0.841...",0.832868,0.000501,0.832223,0.833443,0.808502,0.023913,0.784238,0.841035
1,l2-zero,3441,(l2-zero_kappa=6853.776518453938_lr_0=0.001_n=...,"(1001, 2001, 3001)","(42622906.22481837, 40680121.18285383, 4330331...","(0.9167206287384032, 0.9164130687713624, 0.916...","(0.2596330633318435, 0.2775436516360777, 0.269...",0.916434,0.000226,0.916167,0.916721,0.268739,0.007315,0.259633,0.277544

In [10]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion     n  test_acc_mean  test_acc_min  test_acc_max
0   l2-zero   370       0.832868      0.832223      0.833443
1   l2-zero  3441       0.916434      0.916167      0.916721

In [11]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion     n  test_nll_mean  test_nll_min  test_nll_max
0   l2-zero   370       0.808502      0.784238      0.841035
1   l2-zero  3441       0.268739      0.259633      0.277544

In [12]:
criterion = 'l2-sp'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
12,l2-sp,l2-sp_kappa=63740.12162162162_lr_0=0.001_n=370...,370,1001,1.147497e+06,0.875091,0.523291
13,l2-sp,l2-sp_kappa=63740.12162162162_lr_0=0.001_n=370...,370,2001,1.400950e+06,0.872381,0.528719
14,l2-sp,l2-sp_kappa=63740.12162162162_lr_0=0.001_n=370...,370,3001,1.111101e+06,0.877600,0.486159
15,l2-sp,l2-sp_kappa=6853.776518453938_lr_0=0.001_n=344...,3441,1001,1.009238e+06,0.929835,0.235586
16,l2-sp,l2-sp_kappa=6853.776518453938_lr_0=0.001_n=344...,3441,2001,9.915351e+05,0.929877,0.239782
17,l2-sp,l2-sp_kappa=6853.776518453938_lr_0=0.001_n=344...,3441,3001,1.010216e+06,0.926619,0.237742

In [13]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,370,(l2-sp_kappa=63740.12162162162_lr_0=0.001_n=37...,"(1001, 2001, 3001)","(1147497.4581756757, 1400949.5521030405, 11111...","(0.8750907182693481, 0.8723805546760559, 0.877...","(0.5232907105394624, 0.5287188172389129, 0.486...",0.875024,0.002131,0.872381,0.877600,0.512723,0.018914,0.486159,0.528719
1,l2-sp,3441,(l2-sp_kappa=6853.776518453938_lr_0=0.001_n=34...,"(1001, 2001, 3001)","(1009238.4966833768, 991535.060778117, 1010215...","(0.9298347234725952, 0.9298765063285828, 0.926...","(0.2355860055719483, 0.2397816774690953, 0.237...",0.928777,0.001526,0.926619,0.929877,0.237703,0.001713,0.235586,0.239782

In [14]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion     n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp   370       0.875024      0.872381      0.877600
1     l2-sp  3441       0.928777      0.926619      0.929877

In [15]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion     n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp   370       0.512723      0.486159      0.528719
1     l2-sp  3441       0.237703      0.235586      0.239782

In [16]:
criterion = 'ptyl'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_SSL_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
12,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.001_n=370_...,370,1001,3.856898e+07,0.560697,2.078778
13,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.001_n=370_...,370,2001,3.744228e+07,0.571758,2.037785
14,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.001_n=370_...,370,3001,3.277360e+07,0.566282,2.084541
15,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.001_n=3441...,3441,1001,2.962233e+06,0.802536,0.665900
16,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.001_n=3441...,3441,2001,2.977124e+06,0.800807,0.675010
17,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.001_n=3441...,3441,3001,2.978211e+06,0.799882,0.687067

In [17]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,370,(ptyl_kappa=63740.12162162162_lr_0=0.001_n=370...,"(1001, 2001, 3001)","(38568975.91027027, 37442284.07243244, 3277360...","(0.560697078704834, 0.5717575550079346, 0.5662...","(2.078777816452231, 2.0377845240406067, 2.0845...",0.566245,0.004515,0.560697,0.571758,2.067035,0.020816,2.037785,2.084541
1,ptyl,3441,(ptyl_kappa=6853.776518453938_lr_0=0.001_n=344...,"(1001, 2001, 3001)","(2962233.1244478347, 2977123.681858472, 297821...","(0.8025364279747009, 0.8008065223693848, 0.799...","(0.6658997532943837, 0.6750101723440924, 0.687...",0.801075,0.001100,0.799882,0.802536,0.675992,0.008670,0.665900,0.687067

In [18]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion     n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl   370       0.566245      0.560697      0.571758
1      ptyl  3441       0.801075      0.799882      0.802536

In [19]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion     n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl   370       2.067035      2.037785      2.084541
1      ptyl  3441       0.675992      0.665900      0.687067

In [20]:
criterion = 'ptyl'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
12,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.001_n=370_...,370,1001,1.147067e+06,0.874820,0.523442
13,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.001_n=370_...,370,2001,1.400904e+06,0.872651,0.528634
14,ptyl,ptyl_kappa=63740.12162162162_lr_0=0.001_n=370_...,370,3001,1.111517e+06,0.877600,0.486162
15,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.001_n=3441...,3441,1001,1.009079e+06,0.929835,0.235564
16,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.001_n=3441...,3441,2001,9.912788e+05,0.929879,0.239736
17,ptyl,ptyl_kappa=6853.776518453938_lr_0=0.001_n=3441...,3441,3001,1.010036e+06,0.926619,0.237721

In [21]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,ptyl,370,(ptyl_kappa=63740.12162162162_lr_0=0.001_n=370...,"(1001, 2001, 3001)","(1147067.1700168918, 1400903.7162077704, 11115...","(0.8748204112052917, 0.8726508021354675, 0.877...","(0.5234415434700944, 0.5286341020946574, 0.486...",0.875024,0.002026,0.872651,0.877600,0.512746,0.018917,0.486162,0.528634
1,ptyl,3441,(ptyl_kappa=6853.776518453938_lr_0=0.001_n=344...,"(1001, 2001, 3001)","(1009078.55583406, 991278.7753905114, 1010036....","(0.9298347234725952, 0.9298791289329528, 0.926...","(0.2355643603884741, 0.2397359235775214, 0.237...",0.928778,0.001526,0.926619,0.929879,0.237674,0.001703,0.235564,0.239736

In [22]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion     n  test_acc_mean  test_acc_min  test_acc_max
0      ptyl   370       0.875024      0.872651      0.877600
1      ptyl  3441       0.928778      0.926619      0.929879

In [23]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion     n  test_nll_mean  test_nll_min  test_nll_max
0      ptyl   370       0.512746      0.486162      0.528634
1      ptyl  3441       0.237674      0.235564      0.239736

In [32]:
criterion = 'l2-sp'
d = 23583845
dataset_directory = '/cluster/tufts/hugheslab/eharve06/Oxford-IIIT_Pet'
experiments_directory = '/cluster/tufts/hugheslab/eharve06/data-emphasized-ELBo/experiments/retrained_Oxford-IIIT_Pet_ViT_B_16_VI'
lr_0s = [0.1, 0.01, 0.001, 0.0001]
ns = [370, 3441]
random_states = [1001, 2001, 3001]

columns = ['criterion', 'model_name', 'n', 'random_state', 'train_loss', 'test_acc', 'test_nll']
retrained_df = pd.DataFrame(columns=columns)

for lr_0, n, random_state in itertools.product(lr_0s, ns, random_states):
    model_name = f'{criterion}_kappa={d/n}_lr_0={lr_0}_n={n}_random_state={random_state}'
    if os.path.exists(f'{experiments_directory}/{model_name}.csv'):
        temp_df = pd.read_csv(f'{experiments_directory}/{model_name}.csv')
        row = [criterion, model_name, n, random_state, temp_df.train_loss.values[-1], temp_df.val_or_test_acc.values[-1], temp_df.val_or_test_nll.values[-1]]
        retrained_df.loc[len(retrained_df)] = row
    
min_indices = retrained_df.groupby(['criterion', 'n', 'random_state'])['train_loss'].idxmin()
retrained_df = retrained_df.loc[min_indices]

retrained_df

,criterion,model_name,n,random_state,train_loss,test_acc,test_nll
6,l2-sp,l2-sp_kappa=63740.12162162162_lr_0=0.01_n=370_...,370,1001,61207.473323,0.896781,0.533966
7,l2-sp,l2-sp_kappa=63740.12162162162_lr_0=0.01_n=370_...,370,2001,58046.945236,0.888608,0.517742
8,l2-sp,l2-sp_kappa=63740.12162162162_lr_0=0.01_n=370_...,370,3001,59892.234772,0.881885,0.640266
9,l2-sp,l2-sp_kappa=6853.776518453938_lr_0=0.01_n=3441...,3441,1001,123117.164457,0.933704,0.356789
10,l2-sp,l2-sp_kappa=6853.776518453938_lr_0=0.01_n=3441...,3441,2001,133839.370290,0.936024,0.349109
11,l2-sp,l2-sp_kappa=6853.776518453938_lr_0=0.01_n=3441...,3441,3001,127933.977149,0.936066,0.351672

In [29]:
grouped_df = retrained_df.groupby(['criterion', 'n']).agg(lambda x: tuple(x))
columns = ['test_acc', 'test_nll']
for column in columns:
    grouped_df[f'{column}_mean'] = grouped_df[column].apply(lambda item: np.mean(item))
    grouped_df[f'{column}_std'] = grouped_df[column].apply(lambda item: np.std(item))
    grouped_df[f'{column}_min'] = grouped_df[column].apply(lambda item: np.min(item))
    grouped_df[f'{column}_max'] = grouped_df[column].apply(lambda item: np.max(item))
grouped_df = grouped_df.reset_index()
grouped_df

,criterion,n,model_name,random_state,train_loss,test_acc,test_nll,test_acc_mean,test_acc_std,test_acc_min,test_acc_max,test_nll_mean,test_nll_std,test_nll_min,test_nll_max
0,l2-sp,370,(l2-sp_kappa=63740.12162162162_lr_0=0.01_n=370...,"(1001, 2001, 3001)","(61207.47332347974, 58046.945236486485, 59892....","(0.8967811465263367, 0.8886083960533142, 0.881...","(0.5339662930721614, 0.5177423224296942, 0.640...",0.889092,0.006091,0.881885,0.896781,0.563991,0.054339,0.517742,0.640266
1,l2-sp,3441,(l2-sp_kappa=6853.776518453938_lr_0=0.01_n=344...,"(1001, 2001, 3001)","(123117.1644568712, 133839.37028956882, 127933...","(0.933704137802124, 0.9360244274139404, 0.9360...","(0.3567891972130339, 0.3491093691176478, 0.351...",0.935265,0.001104,0.933704,0.936066,0.352524,0.003193,0.349109,0.356789

In [30]:
grouped_df[['criterion', 'n', 'test_acc_mean', 'test_acc_min', 'test_acc_max']]

  criterion     n  test_acc_mean  test_acc_min  test_acc_max
0     l2-sp   370       0.889092      0.881885      0.896781
1     l2-sp  3441       0.935265      0.933704      0.936066

In [31]:
grouped_df[['criterion', 'n', 'test_nll_mean', 'test_nll_min', 'test_nll_max']]

  criterion     n  test_nll_mean  test_nll_min  test_nll_max
0     l2-sp   370       0.563991      0.517742      0.640266
1     l2-sp  3441       0.352524      0.349109      0.356789